

<div class="container col-md-6 mt-2">
  <div class="card offset-3 ">

    <div class="card-header"> New role</div>
    <div class="card-body">
      <form [formGroup] = "newRoleFormGroup" (ngSubmit)="handleSaveRole()">

        <div class="mb-3">
          <label class="form-label">Quel est le role ?</label>
          <input type="text" formControlName = "name" class="form-control">
        </div>

        <button class="btn btn-info">Save</button>

      </form>
    </div>
  </div>
</div>




