
<div class="container col-md-10 ">

  <div class="mt-2 spacer-left">
    <span><a routerLink="/talents" class="hide-underline-link btn btn-dark text-warning">Retour</a> </span>

  </div>

  <div class="card col-md-7 offset-md-3 spacer bg-dark">
    <h5 class="text-center spacer text-warning">Entrez vos informations</h5>


    <form (ngSubmit)="handleSaveTalent()" [formGroup]="newTalentFormGroup">


      <div class="card bg-dark spacer-margin">
        <div class="card-body">
          <h5 class="text-light">Profil du talent</h5>
          <div class="card-text text-muted">
            <div class="mb-3">
              <label class="form-label"><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Type de talent</label>
              <select  class="form-select bg-secondary" formControlName = "type" >

                <option value="simple">Simple</option>
                <option value="professional">Professionnel</option>
              </select>
              <small *ngIf="r['type'].errors && r['type'].touched" class="text-danger">
                {{handleGetErrorMessageFromChild('Type', r['type'].errors)}}</small>

              <ng-container *ngIf="r['type'].value == 'professional'; else simple">


                <div class="mb-3 mt-2">
                  <label class="form-label"><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Niveau</label>
                  <select class="form-select bg-secondary" formControlName = "level" >

                    <option value="bac">BAC</option>
                    <option value="bac1">BAC+1</option>
                    <option value="bac2">BAC+2</option>
                    <option value="licence">Licence</option>
                    <option value="master1">Master+1</option>
                    <option value="master2">Master+2</option>
                  </select>

                  <small *ngIf="r['level'].errors && r['level'].touched" class="text-danger">
                    {{handleGetErrorMessageFromChild('Level', r['level'].errors)}}</small>

                </div>


                <div class="mb-3">
                  <label  class="form-label">L'url de ton profil Linkedin</label>
                  <input type="text" class="form-control bg-secondary" formControlName = "linkedin"  placeholder="example : https://www.linkedin.com/example/">
                  <small *ngIf="r['linkedin'].errors && r['linkedin'].touched" class="text-danger">{{handleGetErrorMessageFromChild('Linkedin', r['linkedin'].errors)}}</small>

                </div>

                <div class="mb-3">
                  <label  class="form-label">L'url de ton repo github</label>
                  <input type="text" class="form-control bg-secondary" formControlName = "github"  placeholder="example : https://www.github.com/example/">
                  <small *ngIf="r['github'].errors && r['github'].touched" class="text-danger">{{handleGetErrorMessageFromChild('Github', r['github'].errors)}}</small>

                </div>

            <div class="mb-3">
      <label class="form-label"><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Email <span class="text-muted"></span></label>
      <input type="email" class="form-control bg-secondary" formControlName = "email" placeholder="you@example.com">
              <small *ngIf="r['email'].errors && r['email'].touched " class="text-danger">
                {{handleGetErrorMessageFromChild('Email', r['email'].errors)}}</small>

            </div>


    <!--            <div class="mb-3">
                  <label class="form-label"></label>
                </div>

                <div class="mb-3">
                  <label class="form-label"></label>
                </div>

                <div class="mb-3">
                  <label class="form-label"></label>
                </div>

                <div class="mb-3">
                  <label class="form-label"></label>
                </div>

                <div class="mb-3">
                  <label class="form-label"></label>
                </div>

                <div class="mb-3">
                  <label class="form-label"></label>
                </div>

                <div class="mb-3">
                  <label class="form-label"></label>
                </div>-->

      </ng-container>

              <ng-template #simple>
                <div class="mb-3">
                  <label class="form-label"><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Niveau</label>
                  <select class="form-select bg-secondary" formControlName = "level" required>

                    <option value="cepe">CEPE ou diplome équivalent</option>
                    <option value="bepc">BEPC ou diplome équivalent</option>
                    <option value="probatoire">Probatoire ou diplome équivalent</option>
                    <option value="bac">BAC ou diplome équivalent</option>
                  </select>
                  <small *ngIf="r['level'].errors && r['level'].touched" class="text-danger">
                    {{handleGetErrorMessageFromChild('Level', r['level'].errors)}}</small>

                </div>

              </ng-template>
<!--
              <div class="mb-3 mt-3">
                <label class="form-label"><i style="font-size: 20px" class="text-danger"> *&nbsp;</i>Pays</label>
                <select class="form-select" formControlName="countryCode" >
                  <option value="+27" >Afrique du Sud</option>
                  <option value="+213" >Algérie</option>
                  <option value="+244" >Angola</option>
                  <option value="+229" >Bénin</option>
                  <option value="+267" >Botswana</option>
                  <option value="+226" >Burkina Faso</option>
                  <option value="+257" >Burundi</option>
                  <option value="+237" >Cameroun</option>
                  <option value="+238" >Cap-Vert</option>
                  <option value="+236" >République centrafricaine</option>
                  <option value="+269" >Comores</option>
                  <option value="+242" >République du Congo</option>
                  <option value="+243" >République démocratique du Congo</option>
                  <option value="+225" >Côte d'Ivoire</option>
                  <option value="+253" >Djibouti</option>
                  <option value="+20" >Egypte</option>
                  <option value="+291" >Erythrée</option>
                  <option value="+251" >Ethiopie</option>
                  <option value="+241" >Gabon</option>
                  <option value="+220" >Gambie</option>
                  <option value="+233" >Ghana</option>
                  <option value="+224" >Guinée</option>
                  <option value="+245" >Guinée-Bissau</option>
                  <option value="+240" >Guinée équatoriale</option>
                  <option value="+254" >Kenya</option>
                  <option value="+266" >Lesotho</option>
                  <option value="+231" >Libéria</option>
                  <option value="+218" >Libye</option>
                  <option value="+261" >Madagascar</option>
                  <option value="+265" >Malawi</option>
                  <option value="+223" >Mali</option>
                  <option value="+212" >Maroc</option>
                  <option value="+230" >Maurice</option>
                  <option value="+222" >Mauritanie</option>
                  <option value="+258" >Mozambique</option>
                  <option value="+264" >Namibie</option>
                  <option value="+227" >Niger</option>
                  <option value="+234" >Nigeria</option>
                  <option value="+256" >Ouganda</option>
                  <option value="+250" >Rwanda</option>
                  <option value="+239" >Sao Tomé-et-Principe</option>
                  <option value="+221" >Sénégal</option>
                  <option value="+248" >Seychelles</option>
                  <option value="+232" >Siera Leone</option>
                  <option value="+252" >Somalie</option>
                  <option value="+249" >Soudan</option>
                  <option value="+211" >Soudan du Sud</option>
                  <option value="+268" >Swaziland</option>
                  <option value="+255" >Tanzanie</option>
                  <option value="+235" >Tchad</option>
                  <option value="+228" >Togo</option>
                  <option value="+216" >Tunisie</option>
                  <option value="+260" >Zambie</option>
                  <option value="+263" >Zimbabwe</option>
                </select>
                <small *ngIf="r['countryCode'].errors && r['countryCode'].touched" class="text-danger">{{handleGetErrorMessageFromChild('countryCode', r['countryCode'].errors)}}</small>
              </div>-->

              <div class="mb-3">
                <label class="form-label"><i style="font-size: 20px" class="text-danger"> *&nbsp;</i>Contact</label>
                <input type="text" class="form-control bg-secondary" formControlName="tel" placeholder="6********" >
                <small *ngIf="r['tel'].errors && r['tel'].touched" class="text-danger">{{handleGetErrorMessageFromChild('tel', r['tel'].errors)}}</small>

              </div>

    <!--          <div class="mb-3">
                <label class="form-label"><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Contact</label>
                <input class="form-control" formControlName="tel" placeholder="6********" type="text">
                <small *ngIf="r['tel'].errors && r['tel'].touched " class="text-danger">
                  {{handleGetErrorMessageFromChild('tel', r['tel'].errors)}}</small>

              </div>-->

              <div class="mb-3">
                <label class="form-label">Numéro WhatsApp</label>
                <input class="form-control bg-secondary" formControlName="whatsAppNumber" placeholder="6********" type="text">
                <small *ngIf="r['whatsAppNumber'].errors && r['whatsAppNumber'].touched " class="text-danger">
                  {{handleGetErrorMessageFromChild('whatsAppNumber', r['whatsAppNumber'].errors)}}</small>

              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="card bg-dark spacer-margin">
        <div class="card-body">
          <h5 class="text-light">Savoir faire du talent</h5>
          <div class="card-text text-muted">


            <div class="mb-3">
              <label class="form-label"><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Métier</label>
              <input type="text" class="form-control bg-secondary" formControlName = "title">
              <small *ngIf="r['title'].errors && r['title'].touched" class="text-danger">
                {{handleGetErrorMessageFromChild('Title', r['title'].errors)}}</small>

            </div>

            <div class="mb-3">
              <label class="form-label"><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Domaine</label>
              <input class="form-control bg-secondary" formControlName="domain" placeholder="ssi,srt,..." type="text">
              <small *ngIf="r['domain'].errors && r['domain'].touched" class="text-danger">
                {{handleGetErrorMessageFromChild('Domain', r['domain'].errors)}}</small>

            </div>

            <div class="mb-3">
              <label class="form-label"><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Compétences</label>
              <textarea class="form-control bg-secondary" formControlName = "skills" aria-label="With textarea" style="height: 150px" ></textarea>
              <small *ngIf="r['skills'].errors && r['skills'].touched " class="text-danger">
                {{handleGetErrorMessageFromChild('Skills', r['skills'].errors)}}</small>

            </div>

            <div class="mb-3">
              <label class="form-label"><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Mode de travail</label>
              <select class="form-select bg-secondary" formControlName="workMode">
                <option [ngValue]="null" disabled hidden selected>Mode de travail</option>
                <option value="Sur site">Sur site</option>
                <option value="A distance">A distance</option>
              </select>
              <small *ngIf="r['workMode'].errors && r['workMode'].touched " class="text-danger">
                {{handleGetErrorMessageFromChild('WorkMode', r['workMode'].errors)}}</small>

            </div>

            <div class="mb-3">
              <label class="form-label"><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Experience</label>
              <select class="form-select bg-secondary" formControlName="experience">
                <option [ngValue]="null" disabled hidden selected>Experience</option>
                <option value="Aucune">Aucune</option>
                <option value="Jeune diplomé">Jeune diplomé</option>
                <option value="1-2 ans">1-2 ans</option>
                <option value="3-5 ans">3-5 ans</option>
                <option value="6-10 ans">6-10 ans</option>
                <option value="11-20 ans">11-20 ans</option>
                <option value="+20 ans">plus de 20 ans</option>
              </select>
              <small *ngIf="r['experience'].errors && r['experience'].touched " class="text-danger">
                {{handleGetErrorMessageFromChild('Experience', r['experience'].errors)}}</small>

            </div>


          </div>
        </div>
      </div>

      <div class="card bg-dark spacer-margin">
        <div class="card-body">
          <h5 class="text-light">Localisation</h5>
          <div class="card-text text-muted">


            <div class="mb-3">
              <label class="form-label"><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Address</label>
              <input class="form-control bg-secondary" formControlName="address" placeholder="Simbok,Yaoundé,Cameroun" type="text">
              <small *ngIf="r['address'].errors && r['address'].touched" class="text-danger">{{handleGetErrorMessageFromChild('Address', r['address'].errors)}}</small>

            </div>
          </div>
        </div>
      </div>

      <div class="card bg-dark spacer-margin">
        <div class="card-body">
          <h5 class="text-light">Autres informations</h5>
          <div class="card-text text-muted">

            <div class="mb-3">
              <label class="form-label"><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Contract</label>
              <select class="form-select bg-secondary" formControlName="contract">
                <option [ngValue]="null" disabled hidden selected>Choose....</option>
                <option value="CDI">CDI</option>
                <option value="CDD">CDD</option>
                <option value="FREELANCE">Freelance</option>
                <option value="INTERIM">Intérim</option>
                <option value="ASSOCIE">Associé(e)</option>
                <option value="ALTERNANCE">Alternance</option>
                <option value="FRANCHISE">Franchise</option>
                <option value="STAGE ACADEMIC">Stage academic</option>
                <option value="STAGE PROFESSIONNELLE">Stage professionnelle</option>
              </select>
              <small *ngIf="r['contract'].errors && r['contract'].touched " class="text-danger">
                {{handleGetErrorMessageFromChild('Contract', r['contract'].errors)}}</small>

            </div>


            <div class="mb-3">
              <label class="form-label"><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Salaire</label>
              <select class="form-select bg-secondary" formControlName="salaryChoice">
                <option [ngValue]="null" disabled hidden selected>Salaire</option>
                <option value="Salaire à définir avec l'employeur">Salaire à définir avec l'employeur</option>
                <option value="amount">Entrer un montant</option>
              </select>
              <small *ngIf="r['salaryChoice'].errors && r['salaryChoice'].touched " class="text-danger">
                {{handleGetErrorMessageFromChild('SalaryChoice', r['salaryChoice'].errors)}}</small>

              <span *ngIf="r['salaryChoice'].value=='amount'">

               <div class="mb-3 mt-2">
              <label class="form-label"><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Montant</label>
              <input type="text" class="form-control bg-secondary" formControlName="salary">
               <small *ngIf="r['salary'].errors && r['salary'].touched " class="text-danger">
                {{handleGetErrorMessageFromChild('Salary', r['salary'].errors)}}</small>

            </div>

          </span>
            </div>



          </div>
        </div>
      </div>


      <button [disabled] = "!newTalentFormGroup.valid" class="btn btn-warning spacer-margin" type="submit">Valider</button>&nbsp;<span class="text-muted">les champs marqués par <i class="text-danger">*</i> sont obligatoires </span>

    </form>
  </div>

  <div class="mb-3 spacer-left mt-3">
    <span><a routerLink="/talents" class="hide-underline-link btn btn-dark text-warning">Retour</a> </span>

  </div>

</div>





