<html class="bg-secondary">

<body class="bg-secondary">

<app-header></app-header>


<div  *ngIf="isEditor" class="container mt-lg-5 spacer-bottom text-center">

  <div class="card bg-secondary border-0">
    <div class="row">
      <!-- list subscriptions -->
      <div class="container col-md-5  mt-3" >
        <ng-container *ngIf="subscriptions | async as listSubscriptions; else failureOrLoading">
          <div class="card spacer-top bg-dark text-light">
            <div class=" text-secondary mt-2"><span style="font-size: 20px; font-weight: bold">Les abonnements &nbsp;<a *ngIf="isAdmin" routerLink="/addSubscription" class="btn btn-outline-secondary">
              <i class="bi bi-plus-circle"></i>
            </a></span></div>

            <div class="card-body">

              <table class="table table-responsive table-striped table-bordered table-borderless">
                <thead class="table-dark">
                <tr>

                  <th>Date</th>
                  <th>Client</th>
                  <th>Montant</th>
                  <th *ngIf="isAdmin">Actions</th>


                </tr>
                </thead>

                <tbody>
                <tr class="text-light" *ngFor="let subscription of subscriptions | async">

                  <td>{{subscription.createdAt | date: 'd MMM y'}}</td>
                  <td>{{subscription.beneficiaryUsername}}</td>
                  <td>{{subscription.initAmount | number: '1.0-0'}}</td>

                  <td>
                    <p *ngIf="isAdmin">
                      <button (click)="handleDeleteSubscription(subscription)" class="btn btn-danger">
                        <i class="bi bi-trash"></i>
                      </button>

                      <button (click)="handleDetailSubscription(subscription.id)" class="btn btn-secondary">
                        <i class="bi bi-eye"></i>
                      </button>
                    </p>

                  </td>

                </tr>
                </tbody>

              </table>

              <ul class=" nav nav-pills spacer-left">
                <ng-container *ngIf="currentPage > 0">
                  <li >
                    <a class="page-link btn ms-1" (click)="goToPage(currentPage - 1)" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                </ng-container>

                <!-- "[A-Za-z0-9.%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{3,4}" -->

                <li *ngFor="let item of [].constructor(totalPages); let page = index" >

                  <a [ngClass]="page==currentPage?'btn-warning':'btn-outline-warning'" (click)="goToPage(page)" class="btn ms-1"  >{{page}}</a>
                </li>
                <ng-container *ngIf="currentPage < totalPages - 1">
                  <li >
                    <a class="page-link btn ms-1" (click)="goToPage(currentPage + 1)" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ng-container>

              </ul>


            </div>



          </div>
        </ng-container>

        <ng-template #failureOrLoading>

          <ng-container *ngIf="errorMessage; else loading">
            <div class="text-warning text-center spacer-margin">
              <span>Oups ! données momentannément indisponible</span>

            </div>

            <div class="spacer-bottom text-center spacer-top" >
              <span><a class="btn btn-success" (click)="goToPreviousPage()"> <i class="bi bi-arrow-left"></i> Back</a> </span>
            </div>
          </ng-container>

          <ng-template #loading>

            <div class="d-flex justify-content-center spacer-margin" >
              <div class=" spinner-border text-info" style="width: 3rem; height: 3rem;" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </ng-template>

        </ng-template>
      </div>

    </div>
  </div>
</div>
<div class="mb-lg-5"></div>

<app-footer></app-footer>


</body>
</html>
