<html class="bg-secondary" xmlns="http://www.w3.org/1999/html">

<body class="bg-secondary">

<app-header></app-header>

<!--<div class="container">
  <div class="card offset-3 mt-2">

    <div class="card-title"> <span class="text-center"> {{}} </span></div>
    <div class="card-body">
  <div class="card-text">
    <span> {{}} </span>
  </div>
      <div class="card-text"></div>
    </div>
    <div class="card-footer">
      <span class="text-muted text-center"><i class="bi bi-calendar"></i> {{}} </span>
    </div>
  </div>
</div>-->

<div  *ngIf="isEditor" class="container mt-lg-5 spacer-bottom text-center">

  <div *ngIf="isAdmin" class="text-center mt-3" >
      <span  style="font-size: 20px;">
      <a routerLink="/listRole" class="hide-underline-link btn btn-dark text-white">
      Roles
      </a>
    </span>
  </div>
  <div class="card bg-secondary border-0">
    <div class="row">
      <!-- list users -->
      <div class="container col-md-5  mt-3" >
      <ng-container *ngIf="users | async as listUsers; else failureOrLoading">
        <div class="card spacer-top bg-dark">
          <div class=" text-secondary mt-2"><span style="font-size: 20px; font-weight: bold">[ {{appUserSize}} ] &nbsp;Les utilisateurs &nbsp;<a *ngIf="isAdmin" routerLink="/addUser" class="btn btn-outline-secondary">
              <i class="bi bi-plus-circle"></i>
            </a></span></div>
          <div class="card-body">

            <ng-container  *ngIf="searchFormGroup">
              <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchAppUserByUsername()">
                <div class="input-group">
                  <label class="form-label">Keyword :</label>
                  <input type="text" formControlName = "keyword" class="form-control">
                  <button class="btn btn-warning"><i class="bi bi-search"></i> </button>
                </div>
              </form>
            </ng-container>


            <table class="table mt-4 table-responsive">
              <thead class="text-center text-light">
              <tr>
                <th>Pseudo</th>
                <th>Activitée</th>
                <th *ngIf="isAdmin">Actions</th>


              </tr>
              </thead>

              <tbody>
              <tr class="text-light" *ngFor="let user of users | async">

                <td>
                  {{user.username}} <br />
                  <p *ngIf="user.account == 'employer'" style="font-size: 16px; color: lightseagreen">&nbsp;[Par]</p>
                  <p *ngIf="user.account == 'enterprise'" style="font-size: 16px; color: lightseagreen">&nbsp;[Ent]</p>
                  <p *ngIf="user.account == 'talent'" style="font-size: 16px; color: lightseagreen">&nbsp;[Tal]</p>
                </td>

                <td>
                  <div class="card-body" >
                    <p > <button (click)="handleListAppUserSubscription(user.id)" class="btn btn-secondary">Abonnements</button> <span *ngIf="isAdmin">|</span>
                      <a *ngIf="isAdmin" (click)="handleAppUserDates(user.id)" class="btn btn-warning">
                      <i class="bi bi-calendar"></i>
                    </a></p>
                    <p *ngIf="isAdmin"  >
                      <button (click)="handleListAppUserOffer(user.id)" class="btn btn-secondary">Offres</button> |
                      <button (click)="handleListAppUserTalent(user.id)" class="btn btn-secondary">Talents </button></p>
                  </div>
                </td>


                <td>

                  <p *ngIf="isAdmin">
                    <a (click)="handleDetailAppUser(user.id)" class="btn btn-outline-secondary">
                      <i class="bi bi-eye"></i>
                    </a>  <br>

                    <a (click)="handleUpdateAppUser(user.id)" class="btn btn-outline-warning">
                      <i class="bi bi-pencil"></i>
                    </a> <br>

                    <a (click)="handleDisableAppUser(user)" class="btn btn-outline-secondary">
                      <i class="bi bi-arrow-down"></i>
                    </a><br>

                    <a (click)="handleDeleteUser(user)" class="btn btn-outline-danger">
                      <i class="bi bi-trash"></i>
                    </a>
                  </p>


                </td>

              </tr>
              </tbody>

            </table>


            <ul class=" nav nav-pills spacer-left">
              <ng-container *ngIf="currentPage > 0">
                <li >
                  <a class="page-link btn ms-1" (click)="goToPage(currentPage - 1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
              </ng-container>

              <!-- "[A-Za-z0-9.%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{3,4}" -->

              <li *ngFor="let item of [].constructor(totalPages); let page = index" >
                <a [ngClass]="page==currentPage?'btn-warning':'btn-outline-warning'" (click)="goToPage(page)" class="btn ms-1"  >{{page}}</a>
              </li>
              <ng-container *ngIf="currentPage < totalPages - 1">
                <li >
                  <a class="page-link btn ms-1" (click)="goToPage(currentPage + 1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ng-container>

            </ul>

    <!--        <ul class="nav nav-pills">
              <li *ngFor="let item of [].constructor(totalPages); let page = index">
                <a [ngClass]="page==currentPage?'btn-info':'btn-outline-info'" (click)="goToPage(page)" class="btn ms-1 mt-1"  >{{page}}</a>
              </li>
            </ul>-->


          </div>
        </div>
      </ng-container>

      <ng-template #failureOrLoading>

        <ng-container *ngIf="errorMessage; else loading">
          <div class="text-warning text-center spacer-margin">
            <span>Oups ! une erreur est survenue</span>

          </div>

          <div class="spacer-bottom text-center spacer-top" >
            <span><a class="btn btn-success" (click)="goToPreviousPage()"> <i class="bi bi-arrow-left"></i> Back</a> </span>
          </div>
        </ng-container>

        <ng-template #loading>

          <div class="d-flex justify-content-center spacer-margin" >
            <div class=" spinner-border text-info" style="width: 3rem; height: 3rem;" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </ng-template>

      </ng-template>
      </div>

      <!-- create subscription -->
      <div *ngIf="isEditor" class="container col-md-5  mt-3" >
      <div class="card spacer-top bg-dark">
        <h5 class="text-center text-warning spacer">Créer un abonnement</h5>

        <div class="card-body text-white">
          <form [formGroup]="newSubscriptionFormGroup" (ngSubmit)="handleSaveSubscription()">

            <div class="mb-3">
              <label class="form-label"><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Pseudo </label>
              <input class="form-control" formControlName = "username"  required>
              <small *ngIf="newSubscriptionFormGroup.controls['username'].errors && newSubscriptionFormGroup.controls['username'].touched" class="text-danger">{{getErrorMessage('username', newSubscriptionFormGroup.controls['username'].errors)}}</small>

            </div>

            <div class="mb-3">
              <label class="form-label"><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Type d' abonnement</label>
              <select class="form-select" formControlName = "type"  required>
                <option [ngValue]="null" selected disabled hidden>Type d' abonnement</option>
                <option value="normal">NORMAL</option>
                <option value="host">HOST</option>
              </select>
              <small *ngIf="newSubscriptionFormGroup.controls['type'].errors && newSubscriptionFormGroup.controls['type'].touched" class="text-danger">{{getErrorMessage('type', newSubscriptionFormGroup.controls['type'].errors)}}</small>

            </div>


            <div class="mb-3">
              <label class="form-label"><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Durée de l'abonnement</label>
              <select class="form-select" formControlName = "period"  required>
                <option [ngValue]="null" selected disabled hidden>Durée de l'abonnement</option>
                <option value="1M">1 Mois</option>
                <option value="2M">2 Mois</option>
                <option value="3M">3 Mois</option>
                <option value="4M">4 Mois</option>
                <option value="5M">5 Mois</option>
                <option value="6M">6 Mois</option>
                <option value="7M">7 Mois</option>
                <option value="8M">8 Mois</option>
                <option value="9M">9 Mois</option>
                <option value="10M">10 Mois</option>
                <option value="11M">11 Mois</option>
                <option value="1A">1 an</option>
              </select>
              <small *ngIf="newSubscriptionFormGroup.controls['period'].errors && newSubscriptionFormGroup.controls['period'].touched" class="text-danger">{{getErrorMessage('period', newSubscriptionFormGroup.controls['period'].errors)}}</small>

            </div>

            <div class="text-center">
              <button [disabled] = "!newSubscriptionFormGroup.valid" class="btn btn-warning" type="submit">Valider</button>
            </div>

        </form>
        </div>
      </div>
      </div>


      <!-- add role to user -->
      <div class="container col-md-5  mt-3" >
      <div *ngIf="isAdmin" class="card spacer-top bg-dark">
        <h5 class="text-center text-warning spacer">Ajouter un role à un utilisateur</h5>

        <div class="card-body text-white">
          <form [formGroup]="addRoleToUserFormGroup" (ngSubmit)="handleAddRoleToUser()">

            <div class="mb-3">
              <label class="form-label"><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Pseudo </label>
              <input class="form-control" formControlName = "username"  required>
              <small *ngIf="addRoleToUserFormGroup.controls['username'].errors && addRoleToUserFormGroup.controls['username'].touched" class="text-danger">{{getErrorMessage('username', addRoleToUserFormGroup.controls['username'].errors)}}</small>

            </div>

            <div class="mb-3">
              <label class="form-label"><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Role</label>
              <select class="form-select" formControlName = "roleName"  required>
                <option [ngValue]="null" selected disabled hidden>Role</option>
                <option value="MODERATOR">MODERATOR</option>
                <option value="EDITOR">EDITOR</option>
                <option value="ADMIN">ADMIN</option>
              </select>

              <small *ngIf="addRoleToUserFormGroup.controls['roleName'].errors && addRoleToUserFormGroup.controls['roleName'].touched" class="text-danger">{{getErrorMessage('roleName', addRoleToUserFormGroup.controls['roleName'].errors)}}</small>

            </div>

            <div class="text-center">
              <button [disabled] = "!newSubscriptionFormGroup.valid" class="btn btn-warning" type="submit">Valider</button>
            </div>

          </form>
        </div>
      </div>
      </div>



      <!-- remove role to user -->
      <div class="container col-md-5  mt-3" >
      <div *ngIf="isAdmin" class="card spacer-top bg-dark">
        <h5 class="text-center text-warning spacer">Retirer un role à un utilisateur</h5>

        <div class="card-body text-white">
          <form [formGroup]="removeRoleToUserFormGroup" (ngSubmit)="handleRemoveRoleToUser()">

            <div class="mb-3">
              <label class="form-label"><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Pseudo </label>
              <input class="form-control" formControlName = "username"  required>
              <small *ngIf="removeRoleToUserFormGroup.controls['username'].errors && removeRoleToUserFormGroup.controls['username'].touched" class="text-danger">{{getErrorMessage('username', removeRoleToUserFormGroup.controls['username'].errors)}}</small>

            </div>


            <div class="mb-3">
              <label class="form-label"><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Role</label>
              <select class="form-select" formControlName = "roleName"  required>
                <option [ngValue]="null" selected disabled hidden>Role</option>
                <option value="MODERATOR">MODERATOR</option>
                <option value="EDITOR">EDITOR</option>
                <option value="ADMIN">ADMIN</option>
              </select>
              <small *ngIf="removeRoleToUserFormGroup.controls['roleName'].errors && removeRoleToUserFormGroup.controls['roleName'].touched" class="text-danger">{{getErrorMessage('roleName', removeRoleToUserFormGroup.controls['roleName'].errors)}}</small>

            </div>

            <div class="text-center">
              <button [disabled] = "!removeRoleToUserFormGroup.valid" class="btn btn-warning" type="submit">Valider</button>
            </div>

          </form>
        </div>
  </div>
      </div>
</div>
  </div>
</div>
<div class="mb-lg-5"></div>

<app-footer></app-footer>


</body>
</html>





