

<div  class="container mt-lg-5 spacer-bottom text-center">

  <div class="text-center mt-3" >
      <span  style="font-size: 20px;">
      <a routerLink="/listRole" class="hide-underline-link btn btn-dark text-white">
      Roles
      </a>
    </span>
  </div>
  <div class="card bg-secondary border-0">
    <div class="row">
      <!-- list users -->
      <div class="container col-md-5  mt-3" >
      <ng-container *ngIf="users ; else failureOrLoading">
        <div class="card spacer-top bg-dark">
          <div class=" text-secondary mt-2"><span style="font-size: 20px; font-weight: bold">[ {{totalElements}} ] &nbsp;Les utilisateurs &nbsp;<a  routerLink="/addUser" class="btn btn-outline-secondary">
              <i class="bi bi-plus-circle"></i>
            </a></span></div>
          <div class="card-body">

            <ng-container  *ngIf="searchFormGroup">
              <form [formGroup]="searchFormGroup" (ngSubmit)="handleAppUserSpecification()">
                <div class="input-group">
                  <label class="form-label">Keyword :</label>
                  <input type="text" formControlName = "keyword" class="form-control">
                  <button class="btn btn-warning"><i class="bi bi-search"></i> </button>
                </div>
              </form>
            </ng-container>


            <table class="table mt-4 table-responsive">
              <thead class="text-center text-light">
              <tr>
                <th>Pseudo</th>
                <th>Activitée</th>
                <th >Actions</th>


              </tr>
              </thead>

              <tbody>
              <tr class="text-light" *ngFor="let user of users| paginate: { itemsPerPage: 6, currentPage: currentPage, totalItems: totalElements }">

                <td>
                  {{user.username}} <br />
                  <p *ngIf="user.account == 'employer'" style="font-size: 16px; color: lightseagreen">&nbsp;[Par]</p>
                  <p *ngIf="user.account == 'enterprise'" style="font-size: 16px; color: lightseagreen">&nbsp;[Ent]</p>
                  <p *ngIf="user.account == 'talent'" style="font-size: 16px; color: lightseagreen">&nbsp;[Tal]</p>
                </td>

<!--                <td>
                  <div class="card-body" >
                    <p > <button (click)="handleListAppUserSubscription(user.id)" class="btn btn-secondary">Abonnements</button> <span *ngIf="isAdmin">|</span>
                      <a *ngIf="isAdmin" (click)="handleAppUserDates(user.id)" class="btn btn-warning">
                      <i class="bi bi-calendar"></i>
                    </a></p>
                    <p *ngIf="isAdmin"  >
                      <button (click)="handleListAppUserOffer(user.id)" class="btn btn-secondary">Offres</button> |
                      <button (click)="handleListAppUserTalent(user.id)" class="btn btn-secondary">Talents </button></p>
                  </div>
                </td>-->


                <td>

                  <p >
                    <a (click)="handleDetailAppUser(user.id!)" class="btn btn-outline-secondary">
                      <i class="bi bi-eye"></i>
                    </a>  <br>

                    <a (click)="handleUpdateAppUser(user.id!)" class="btn btn-outline-warning">
                      <i class="bi bi-pencil"></i>
                    </a> <br>

                    <a (click)="handleDisableAppUser(user)" class="btn btn-outline-secondary">
                      <i class="bi bi-arrow-down"></i>
                    </a><br>

                    <a (click)="handleDeleteUser(user)" class="btn btn-outline-danger">
                      <i class="bi bi-trash"></i>
                    </a>
                  </p>


                </td>

              </tr>
              </tbody>

            </table>


            <div class="d-flex justify-content-center">
              <pagination-controls (pageChange)="goToPage($event)"></pagination-controls>
            </div>




          </div>
        </div>
      </ng-container>

      <ng-template #failureOrLoading>


        <ng-template #loading>

          <div class="d-flex justify-content-center spacer-margin" >
            <div class=" spinner-border text-info" style="width: 3rem; height: 3rem;" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </ng-template>

      </ng-template>
      </div>



      <!-- add role to user -->
      <div class="container col-md-5  mt-3" >
      <div  class="card spacer-top bg-dark">
        <h5 class="text-center text-warning spacer">Ajouter un role à un utilisateur</h5>

        <div class="card-body text-white">
          <form [formGroup]="addRoleToUserFormGroup" (ngSubmit)="handleAddRoleToUser()">

            <div class="mb-3">
              <label class="form-label"><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Pseudo </label>
              <input class="form-control" formControlName = "username"  required>
              <small *ngIf="addRoleToUserFormGroup.controls['username'].errors && addRoleToUserFormGroup.controls['username'].touched" class="text-danger">{{getErrorMessage('username', addRoleToUserFormGroup.controls['username'].errors)}}</small>

            </div>

            <div class="mb-3">
              <label class="form-label"><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Role</label>
              <select class="form-select" formControlName = "roleName"  required>
                <option [ngValue]="null" selected disabled hidden>Role</option>
                <option value="MODERATOR">MODERATOR</option>
                <option value="EDITOR">EDITOR</option>
                <option value="ADMIN">ADMIN</option>
              </select>

              <small *ngIf="addRoleToUserFormGroup.controls['roleName'].errors && addRoleToUserFormGroup.controls['roleName'].touched" class="text-danger">{{getErrorMessage('roleName', addRoleToUserFormGroup.controls['roleName'].errors)}}</small>

            </div>

            <div class="text-center">
              <button [disabled] = "!addRoleToUserFormGroup.valid" class="btn btn-warning" type="submit">Valider</button>
            </div>

          </form>
        </div>
      </div>
      </div>



      <!-- remove role to user -->
      <div class="container col-md-5  mt-3" >
      <div  class="card spacer-top bg-dark">
        <h5 class="text-center text-warning spacer">Retirer un role à un utilisateur</h5>

        <div class="card-body text-white">
          <form [formGroup]="removeRoleToUserFormGroup" (ngSubmit)="handleRemoveRoleToUser()">

            <div class="mb-3">
              <label class="form-label"><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Pseudo </label>
              <input class="form-control" formControlName = "username"  required>
              <small *ngIf="removeRoleToUserFormGroup.controls['username'].errors && removeRoleToUserFormGroup.controls['username'].touched" class="text-danger">{{getErrorMessage('username', removeRoleToUserFormGroup.controls['username'].errors)}}</small>

            </div>


            <div class="mb-3">
              <label class="form-label"><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Role</label>
              <select class="form-select" formControlName = "roleName"  required>
                <option [ngValue]="null" selected disabled hidden>Role</option>
                <option value="MODERATOR">MODERATOR</option>
                <option value="EDITOR">EDITOR</option>
                <option value="ADMIN">ADMIN</option>
              </select>
              <small *ngIf="removeRoleToUserFormGroup.controls['roleName'].errors && removeRoleToUserFormGroup.controls['roleName'].touched" class="text-danger">{{getErrorMessage('roleName', removeRoleToUserFormGroup.controls['roleName'].errors)}}</small>

            </div>

            <div class="text-center">
              <button [disabled] = "!removeRoleToUserFormGroup.valid" class="btn btn-warning" type="submit">Valider</button>
            </div>

          </form>
        </div>
  </div>
      </div>
</div>
  </div>
</div>






