
<div *ngIf="currentUser" class="container col-md-4">
  <div class="card bg-dark">
    <div class="col">

      <div class="spacer-left mt-2">
        <h5 class="text-light" style=" font-size: 20px; border-bottom-width: 1px; border-bottom-style: solid">NOM</h5>
        <div class="card-body">
          <p style=" font-size: 20px;" class="card-text text-white-50">
            {{currentUser.lastname}}
          </p>
        </div>
      </div>

      <div class="spacer-left mt-2">
        <h5 class="text-light" style=" font-size: 20px; border-bottom-width: 1px; border-bottom-style: solid">PRENOM</h5>
        <div class="card-body">
          <p style=" font-size: 20px;" class="card-text text-white-50">
            {{currentUser.firstname}}
          </p>
        </div>
      </div>


      <div class="spacer-left mt-2">
        <h5 class="text-light" style=" font-size: 20px; border-bottom-width: 1px; border-bottom-style: solid">PSEUDO</h5>
        <div class="card-body">
          <p style=" font-size: 20px;" class="card-text text-white-50">
            {{currentUser.email}}
          </p>
        </div>
      </div>


      <div class="spacer-left mt-2">
        <h5 class="text-light" style=" font-size: 20px; border-bottom-width: 1px; border-bottom-style: solid">DATE DE NAISSANCE</h5>
        <div class="card-body">
          <p style=" font-size: 20px;" class="card-text text-danger">
            {{currentUser.birthday | date: 'd MMMM yyyy'}}
          </p>
        </div>
      </div>


      <div class="spacer-left mt-2">
        <h5 class="text-light" style=" font-size: 20px; border-bottom-width: 1px; border-bottom-style: solid">EMAIL</h5>
        <div class="card-body">
          <p style=" font-size: 20px;" class="card-text text-white-50">
            {{currentUser.email}}
          </p>
        </div>
      </div>


      <div class="spacer-left mt-2">
        <h5 class="text-light" style=" font-size: 20px; border-bottom-width: 1px; border-bottom-style: solid">COMPTE</h5>
        <div class="card-body">
          <p style=" font-size: 20px;" class="card-text text-white-50">
            {{currentUser.account}}
          </p>
        </div>
      </div>

      <div class="spacer-left mt-2">
        <h5 class="text-light" style=" font-size: 20px; border-bottom-width: 1px; border-bottom-style: solid">CODE PROMO</h5>
        <div class="card-body">
          <p style=" font-size: 20px;" class="card-text  text-warning">

          </p>
        </div>
      </div>


      <div class="spacer-left mt-2">
        <h5 class="text-light" style=" font-size: 20px; border-bottom-width: 1px; border-bottom-style: solid">Votre activité</h5>
        <div class="card-body">
          <p class="card-text text-white-50">
            <a *ngIf="currentUser.account == 'employer' || currentUser.account == 'enterprise'" (click)="handleListAppUserOffer(currentUser.id!)" class="btn btn-outline-light">
              Mes offres
            </a>&nbsp;&nbsp;&nbsp;&nbsp;

            <a *ngIf="currentUser.account == 'talent' " (click)="handleListAppUserTalent(currentUser.id!)" class="btn btn-outline-light">
            Mes  profils
            </a>&nbsp;&nbsp;&nbsp;&nbsp;

            <a (click)="handleListAppUserTestimony(currentUser.id!)" class="btn btn-outline-light">
              Mes  avis
            </a>&nbsp;&nbsp;&nbsp;&nbsp;

 <!--           <a *ngIf="currentUser.account == 'talent' || currentUser.account == 'employer' || currentUser.account == 'enterprise'" (click)="handleListAppUserSubscription(currentUser.id)" class="btn btn-outline-light">
             Mes abonnements
            </a>-->
          </p>
        </div>
      </div>


    </div>

  </div>
</div>






