<html class="bg-secondary">
<body class="bg-secondary">

<app-header></app-header>
<div *ngIf="subscription" class="container col-md-4">
  <div class="card border-0 bg-dark mt-5">

        <h5 class="text-center mt-4 text-warning">Detail de l'abonnement</h5>

        <div class="spacer-margin">
          <h5 class="text-light" style=" font-size: 20px; border-bottom-width: 1px; border-bottom-style: solid">ID</h5>
          <div class="card-body">
            <p class="card-text text-white-50">
              {{subscription.id}}
            </p>
          </div>
        </div>

        <div class="spacer-margin">
          <h5 class="text-light" style=" font-size: 20px; border-bottom-width: 1px; border-bottom-style: solid">Date de création</h5>
          <div class="card-body">
            <p class="card-text text-white-50">
              {{subscription.createdAt | date: 'EEEE d MMMM yyyy , à HH:mm:ss'}}
            </p>
          </div>
        </div>


        <div class="spacer-margin">
          <h5 class="text-light" style=" font-size: 20px; border-bottom-width: 1px; border-bottom-style: solid">Type d'abonnement</h5>
          <div class="card-body">
            <p class="card-text text-white-50">
              {{subscription.type}}
            </p>
          </div>
        </div>

        <div class="spacer-margin">
          <h5 class="text-light" style=" font-size: 20px; border-bottom-width: 1px; border-bottom-style: solid">Période</h5>
          <div class="card-body">
            <p class="card-text text-white-50">
              {{subscription.period}}
            </p>
          </div>
        </div>


        <div class="spacer-margin">
          <h5 class="text-light" style=" font-size: 20px; border-bottom-width: 1px; border-bottom-style: solid">Montant initial</h5>
          <div class="card-body">
            <p class="card-text text-white-50">
              {{subscription.initAmount | number: '1.1-2'}}
            </p>
          </div>
        </div>


        <div class="spacer-margin">
          <h5 class="text-light" style=" font-size: 20px; border-bottom-width: 1px; border-bottom-style: solid">Montant</h5>
          <div class="card-body">
            <p class="card-text text-white-50">
              {{subscription.amount | number: '1.1-2'}}
            </p>
          </div>
        </div>


        <div class="spacer-margin">
          <h5 class="text-light" style=" font-size: 20px; border-bottom-width: 1px; border-bottom-style: solid">Montant journalier</h5>
          <div class="card-body">
            <p class="card-text text-white-50">
              {{subscription.dailyAmount | number: '1.1-2'}}
            </p>
          </div>
        </div>


        <div class="spacer-margin">
          <h5 class="text-light" style=" font-size: 20px; border-bottom-width: 1px; border-bottom-style: solid"> Durée initial</h5>
          <div class="card-body">
            <p class="card-text text-white-50">
              {{subscription.initDuration}}
            </p>
          </div>
        </div>

        <div class="spacer-margin">
          <h5 class="text-light" style=" font-size: 20px; border-bottom-width: 1px; border-bottom-style: solid"> Nombre de jour restant </h5>
          <div class="card-body">
            <p class="card-text text-white-50">
              {{subscription.duration}}
            </p>
          </div>
        </div>

        <div class="spacer-margin">
          <h5 class="text-light" style=" font-size: 20px; border-bottom-width: 1px; border-bottom-style: solid">Fin de l'abonnement</h5>
          <div class="card-body">
            <p class="card-text text-white-50">
              {{subscription.endSubscription | date: 'EEEE d MMMM yyyy, à HH:mm:ss'}}
            </p>
          </div>
        </div>

<!--
        <div class="spacer-margin">
          <h5 style=" font-size: 20px; border-bottom-width: 1px; border-bottom-style: solid">Date de mise à jour</h5>
          <div class="card-body">
            <p class="card-text">
           {{subscription.updatedAt | date: 'EEEE d MMMM yyyy, à HH:mm:ss'}}
            </p>
          </div>
        </div>

        <div class="spacer-margin">
          <h5 style=" font-size: 20px; border-bottom-width: 1px; border-bottom-style: solid">Nombre de mise à jour</h5>
          <div class="card-body">
            <p class="card-text">
               {{subscription.numberOfUpdate}}
            </p>
          </div>
        </div>-->

        <div class="spacer-margin">
          <h5 class="text-light" style=" font-size: 20px; border-bottom-width: 1px; border-bottom-style: solid">   Pseudo du bénéficiaire</h5>
          <div class="card-body">
            <p class="card-text text-white-50">
           {{subscription.beneficiaryUsername}}
            </p>
          </div>
        </div>

        <div class="spacer-margin">
          <h5 class="text-light" style=" font-size: 20px; border-bottom-width: 1px; border-bottom-style: solid">Nom de l'initiateur</h5>
          <div class="card-body">
            <p class="card-text text-white-50">
               {{subscription.initiatorLastname}}
            </p>
          </div>
        </div>
<!--
        <div class="spacer-margin">
          <h5 style=" font-size: 20px; border-bottom-width: 1px; border-bottom-style: solid"> Locked </h5>
          <div class="card-body">
            <p class="card-text">
             {{subscription.isLocked.toString()}}
            </p>
          </div>
        </div>

        <div class="spacer-margin">
          <h5 style=" font-size: 20px; border-bottom-width: 1px; border-bottom-style: solid"> Activated </h5>
          <div class="card-body">
            <p class="card-text">
              {{subscription.isActivated.toString()}}
            </p>
          </div>
        </div>-->

<!--

        <div class="spacer-margin">
          <h5 style=" font-size: 20px; border-bottom-width: 1px; border-bottom-style: solid"></h5>
          <div class="card-body">
            <p class="card-text">

            </p>
          </div>
        </div>

        <div class="spacer-margin">
          <h5 style=" font-size: 20px; border-bottom-width: 1px; border-bottom-style: solid"></h5>
          <div class="card-body">
            <p class="card-text">

            </p>
          </div>
        </div>

        <div class="spacer-margin">
          <h5 style=" font-size: 20px; border-bottom-width: 1px; border-bottom-style: solid"></h5>
          <div class="card-body">
            <p class="card-text">

            </p>
          </div>
        </div>

        <div class="spacer-margin">
          <h5 style=" font-size: 20px; border-bottom-width: 1px; border-bottom-style: solid"></h5>
          <div class="card-body">
            <p class="card-text">

            </p>
          </div>
        </div>

        <div class="spacer-margin">
          <h5 style=" font-size: 20px; border-bottom-width: 1px; border-bottom-style: solid"></h5>
          <div class="card-body">
            <p class="card-text">

            </p>
          </div>
        </div>

        <div class="spacer-margin">
          <h5 style=" font-size: 20px; border-bottom-width: 1px; border-bottom-style: solid"></h5>
          <div class="card-body">
            <p class="card-text">

            </p>
          </div>
        </div>

        <div class="spacer-margin">
          <h5 style=" font-size: 20px; border-bottom-width: 1px; border-bottom-style: solid"></h5>
          <div class="card-body">
            <p class="card-text">

            </p>
          </div>
        </div>

        <div class="spacer-margin">
          <h5 style=" font-size: 20px; border-bottom-width: 1px; border-bottom-style: solid"></h5>
          <div class="card-body">
            <p class="card-text">

            </p>
          </div>
        </div>

        <div class="spacer-margin">
          <h5 style=" font-size: 20px; border-bottom-width: 1px; border-bottom-style: solid"></h5>
          <div class="card-body">
            <p class="card-text">

            </p>
          </div>
        </div>

        <div class="spacer-margin">
          <h5 style=" font-size: 20px; border-bottom-width: 1px; border-bottom-style: solid"></h5>
          <div class="card-body">
            <p class="card-text">

            </p>
          </div>
        </div>

        <div class="spacer-margin">
          <h5 style=" font-size: 20px; border-bottom-width: 1px; border-bottom-style: solid"></h5>
          <div class="card-body">
            <p class="card-text">

            </p>
          </div>
        </div>

-->

<!--    <span class="text-center"><a routerLink="/account" class="btn btn-success"><i class="bi bi-arrow-left"></i>&nbsp;Back</a></span>&nbsp;-->

  </div>

</div>

<div class="spacer-top spacer-bottom text-center">

  <span class="text-center"><a routerLink="/users" class="btn btn-warning">Retour</a></span><br>

</div>

<app-footer></app-footer>

</body>
</html>

