
<div class="container col-md-7 mt-2">
  <div class="card spacer-margin border-0 bg-secondary">
<div class="col">
      <div class="card border-0 bg-dark">

        <h5 class="text-center card-title mt-2 text-warning">{{offer.title}}</h5>
        <span class="text-center text-muted text-success" style="font-size: 14px"><span >Publié par {{offer.firstname + ' ' + offer.lastname}} le </span>
          {{offer.publishedAt | date: 'd MMMM y'}} à {{offer.publishedAt | date: 'HH:mm:ss'}}</span>


        <div class="spacer-margin">
          <h5 class="text-light" style=" font-size: 20px; border-bottom-width: 1px; border-bottom-style: solid">Mission</h5>
          <div class="card-body">
            <p class="card-text text-white-50" style="font-size: 19px">
              {{offer.mission}}
            </p>
          </div>
        </div>

        <div class="spacer-margin">
          <h5 class="text-light"  style=" font-size: 20px; border-bottom-width: 1px; border-bottom-style: solid">Profile</h5>
          <div class="card-body">
            <p class="card-text text-white-50" style="font-size: 19px">
              {{offer.profile}}
            </p>
          </div>
        </div>


        <div class="spacer-margin">
          <h5 class="text-light"  style=" font-size: 20px; border-bottom-width: 1px; border-bottom-style: solid">Compétences techniques</h5>
          <div class="card-body">
            <p class="card-text text-white-50" style="font-size: 19px">
              {{offer.skills}}
            </p>
          </div>
        </div>



        <div class="spacer-margin">
          <h5 class="text-light"  style=" font-size: 20px; border-bottom-width: 1px; border-bottom-style: solid">Infos complémentaires</h5>
          <div class="card-body">
            <p class="card-text text-white-50">
              <ng-container *ngIf="offer.type == 'particular'; else other0">
                <span><span>Employeur : </span>Particulier</span><br>
              </ng-container>

              <ng-template #other0>
                <span ><span>Employeur : </span>Entreprise</span><br />
                <span > Nom de l'entreprise : {{offer.name}} </span><br />
              </ng-template>

              <span>Domaine : {{offer.domain}}</span><br>

              <span class="text-white-50" style="font-size: 15px">Contract : {{offer.contract}}</span><br />
              <span class="text-white-50" style=" font-size: 15px" >Mode de travail : {{offer.workMode}} </span><br />

              <span *ngIf="!offer.salary.endsWith('0'); else other">
        <span > {{offer.salary}} </span><br />
      </span>

              <ng-template #other>
                <span > Salaire :  {{offer.salary | number: '1.0-0'}} FCFA / mois</span><br />
              </ng-template>
              <span>Expérience : {{offer.experience}}</span> <br /> <span>Nombre de poste : &nbsp;{{offer.needPeople}}</span><br>

              <span class="text-white-50">
  <span class="text-center" ><i class="bi bi-lock-fill"></i> <span>Expire le {{offer.endOffer | date : 'd MMM y'}}</span></span>
  </span><br>

            </p>
          </div>
        </div>

        <div class="spacer-margin">
          <h5 class="text-light"  style=" font-size: 20px; border-bottom-width: 1px; border-bottom-style: solid">Localisation</h5>
          <div class="card-body ">
            <p class="card-text text-white-50" *ngFor="let item of [].constructor(offer.address.split(','));">
              <i class="bi bi-flag-fill" style="font-size: 20px;"></i>&nbsp; : &nbsp;<span style=" font-size: 15px">{{item[2]}} </span><br />
              <i class="bi bi-building" style="font-size: 20px;"></i>&nbsp; : &nbsp;<span style="font-size: 15px">{{item[1]}} </span><br />
              <span style="font-size: 15px"><i class="bi bi-geo-alt-fill" style="font-size: 20px;"></i> {{offer.address}}</span>
            </p>
          </div>
        </div>

        <div class="spacer-margin">
          <h5 class="text-light"  style=" font-size: 20px; border-bottom-width: 1px; border-bottom-style: solid">Contactez l'employeur <i class="bi bi-arrow-down"></i> </h5>
          <div class="card-body">
        <span *ngIf="offer.email"><a class="text-warning"  [href]= "'mailto:'+ offer.email" style="font-size: 20px;"><i class="bi bi-envelope-fill"></i> </a></span>&nbsp;&nbsp;
        <span *ngIf="offer.web"><a class="text-warning" [href]= "offer.web" style="font-size: 20px;"><i class="bi bi-globe"></i> </a></span>&nbsp;&nbsp;
        <span *ngIf="offer.linkedin"><a class="text-warning" [href]= "offer.linkedin" style="font-size: 20px;"><i class="bi bi-linkedin"></i> </a></span>&nbsp;&nbsp;
        <span *ngIf="offer.fcb"><a class="text-warning" [href]= "offer.fcb" style="font-size: 20px; "><i class="bi bi-facebook"></i> </a></span>&nbsp;&nbsp;
        <span *ngIf="offer.whatsAppNumber"><a class="text-warning" [href]= " 'https://wa.me/237' + offer.whatsAppNumber" style="font-size: 20px;"><i class="bi bi-whatsapp"></i> </a></span>&nbsp;&nbsp;
        <span *ngIf="offer.tel"><a class="text-warning" [href]="'tel:+237' + offer.tel " style="font-size: 20px;"> <i class="bi bi-telephone-fill"></i></a> </span>&nbsp;&nbsp;
          </div>

        </div>

      </div>


    </div>

  </div>

</div>

<div class="mb-3 spacer-left mt-3">
  <span><a routerLink="/jobs" class="hide-underline-link btn btn-dark text-warning">Retour</a> </span>
</div>




