<html class="bg-secondary">
<body class="bg-secondary">

<div class="container col-md-10 ">


  <div class="card col-md-7 offset-md-3 spacer bg-dark">
    <h5 class="text-center spacer text-warning">PAGE D'AIDE</h5>
    <div class="text-center">
      <p class="text-white-50">
        Lisez les instructions suivantes pour remplir correctement votre formulaire d'inscription, car cette étape est crutiale pour la suite de votre expérience.
      </p>
    </div>

    <div class="card bg-dark spacer-margin border-0">
      <div class="card-body">
        <h5 class="text-light">INSTRUCTIONS</h5>
        <div class="card-text text-muted">

          <div class="mb-3">
            <label class="form-label text-white">Type de compte</label>

            <div class="mt-2">
              <span > Ce champs comporte trois options parmi lesquelles : Talent, Employeur et Entreprise.</span>
              <ul>
                <li>Si vous êtes à la recherche d'un emploi, sélectionner Talent. </li>
                <li> Si vous rechercher un freelancer pour exécuter une tâche, sélectionner Employeur. </li>
                <li> Si vous êtes une entreprise et rechercher des talents (employés) et ou freelancer sélectionner Entreprise. </li>
              </ul>
            </div>

          </div>

          <div class="mb-3">
            <label class="form-label text-white">Comment avez vous connu Bozahouse ?</label>

            <div>
              <span > Ici il est question pour vous de nous dire comment vous nous avez connu.</span>

            </div>

          </div>

          <div class="mb-3">
            <label class="form-label text-white">Nom</label>

            <div>
              <span > Saisissez votre nom en respectant la consigne. Exemple : NOM ou Nom ou nom</span>

            </div>

          </div>

          <div class="mb-3">
            <label class="form-label text-white">Prénom</label>

            <div>
              <span > Saisissez votre prénom en respectant la consigne. Exemple : PRENOM ou Prenom ou prenom</span>

            </div>

          </div>

          <div class="mb-3">
            <label class="form-label text-white">Sexe</label>

            <div>
              <span > Si vous être un homme sélectionner homme et femme dans le cas contraire.</span>

            </div>

          </div>

          <div class="mb-3">
            <label class="form-label text-white">Adresse email</label>

            <div>
              <span > Saississez une adresse email valide en respectant la consigne. Exemple : youremail&#64;gmail.com</span>

            </div>

          </div>

          <div class="mb-3">
            <label class="form-label text-white">Nom d'utilisateur</label>

            <div>
              <span > Saisissez un nom d'utilisateur en respectant la consigne. Exemple : username ou Username ou user17</span>

            </div>

          </div>

          <div class="mb-3">
            <label class="form-label text-white">Mot de passe</label>

            <div>
              <span > Saisissez un mot de passe en respectant la consigne. Exemple : PASSWORD ou Password ou password ou pwd123</span>

            </div>

          </div>


          <div class="mb-3">
            <label class="form-label text-white">Date d'anniversaire</label>

            <div>
              <span > Cliquez sur ce champs et choisissez votre date d'anniversaire.</span>

            </div>

          </div>

          <div class="mb-3">
            <label class="form-label text-white">Code de parrainnage</label>

            <div>
              <span > Si vous disposez d'un code de parrainage, saisissez le, dans le cas contraire, laissez ce champs vide.</span>

            </div>

          </div>


          <div class="mb-3">
            <label class="form-label text-white">Politique de confidentielité</label>

            <div>
              <span > Si vous êtes d'accord avec les termes de notre policique de confidentielité, cochez la case.</span>

            </div>

          </div>

        </div>
      </div>
    </div>


  </div>

</div>

<div class="mb-3 spacer-left mt-3">
  <span><a routerLink="/register" class="hide-underline-link btn btn-dark text-warning"> Retour</a> </span>
</div>



</body>

</html>


