

<app-header></app-header>
<div class="spacer"></div>
<div class="container mt-lg-5 mb-lg-5">
  <div class="mt-lg-5 "></div>
  <div class="card  bg-dark">

    <h5 class="text-center mt-2 text-warning"> Nouvel utilisateur</h5>
    <div class="card-body">
      <form class="text-white-50" [formGroup] = "newUserFormGroup" (ngSubmit)="handleSaveUser()">


        <div class="mb-3">
          <label class="form-label"><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Type de compte</label>
          <select class="form-select bg-secondary" formControlName = "account" >
            <option value="talent">Talent</option>
            <option value="employer">Employeur</option>
            <option value="enterprise">Entreprise</option>
          </select>
          <small *ngIf="newUserFormGroup.controls['account'].errors && newUserFormGroup.controls['account'].touched" class="text-danger">{{getErrorMessage('account', newUserFormGroup.controls['account'].errors)}}</small>

        </div>


        <div class="mb-3">
          <label class="form-label "><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Comment avez vous connu Bozahouse ?</label>
          <select class="form-select bg-secondary" formControlName = "howKnowUs">
            <option value="friend">Amis</option>
            <option value="facebook">Facebook</option>
            <option value="whatsapp">Whatsapp</option>
            <option value="linkedin">LinkedIn</option>
            <option value="youtube">Youtube</option>
            <option value="twitter">Twitter</option>
            <option value="other">Autre</option>
          </select>
          <small *ngIf="newUserFormGroup.controls['howKnowUs'].errors && newUserFormGroup.controls['howKnowUs'].touched" class="text-danger">{{getErrorMessage('howKnowUs', newUserFormGroup.controls['howKnowUs'].errors)}}</small>

        </div>

        <div class="mb-3 mt-2">
          <label class="form-label"><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Nom</label>
          <input type="text" formControlName = "lastname" class="form-control bg-secondary">
          <small *ngIf="newUserFormGroup.controls['lastname'].errors && newUserFormGroup.controls['lastname'].touched" class="text-danger">{{getErrorMessageName('lastname', newUserFormGroup.controls['lastname'].errors)}}</small>

        </div>

        <div class="mb-3 mt-2">
          <label class="form-label"><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Prénom</label>
          <input type="text" formControlName = "firstname" class="form-control bg-secondary">
          <small *ngIf="newUserFormGroup.controls['firstname'].errors && newUserFormGroup.controls['firstname'].touched" class="text-danger">{{getErrorMessageName('firstname', newUserFormGroup.controls['firstname'].errors)}}</small>

        </div>

        <div class="mb-3 mt-2">
          <label class="form-label"><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Sexe</label>
          <select class="form-select bg-secondary" formControlName = "sex">
            <option value="" disabled>Choose...</option>
            <option value="Homme">Homme</option>
            <option value="Femme">Femme</option>
          </select>
          <small *ngIf="newUserFormGroup.controls['sex'].errors && newUserFormGroup.controls['sex'].touched" class="text-danger">{{getErrorMessage('sex', newUserFormGroup.controls['sex'].errors)}}</small>

        </div>

<!--        <div class="mb-3">
          <label class="form-label"><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Adresse email</label>
          <input (keydown.space)="$event.preventDefault()" type="email" formControlName = "email" class="form-control bg-secondary" placeholder="ex : youremail@gmail.com">
          <small *ngIf="newUserFormGroup.controls['email'].errors && newUserFormGroup.controls['email'].touched" class="text-danger">{{getErrorMessageEmail('email', newUserFormGroup.controls['email'].errors)}}</small>

        </div>-->

        <div class="mb-3">
          <label class="form-label"><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Adresse email</label>
          <input (keydown.space)="$event.preventDefault()" type="text" formControlName = "username" class="form-control bg-secondary">
          <small *ngIf="newUserFormGroup.controls['username'].errors && newUserFormGroup.controls['username'].touched" class="text-danger">{{getErrorMessageEmail('username', newUserFormGroup.controls['username'].errors)}}</small>

        </div>

        <div class="mb-3 mt-2">
          <label class="form-label"><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Mot de passe</label>
          <input type="password" formControlName = "password" class="form-control bg-secondary" id="pwd">
          <input type="checkbox" onclick="showAndHidePassword()" class="mt-2">&nbsp;<span class="text-warning" style="font-size: 10px;">cliquez ici pour voir</span>&nbsp;
          <small *ngIf="newUserFormGroup.controls['password'].errors && newUserFormGroup.controls['password'].touched" class="text-danger">{{getErrorMessagePassword('password', newUserFormGroup.controls['password'].errors)}}</small>
        </div>

        <div class="mb-3 mt-2">
          <label class="form-label"><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Confirmation du mot de passe</label>
          <input type="password" formControlName = "confirmPassword" class="form-control bg-secondary" id="confPwd">
          <input type="checkbox" onclick="showAndHideConfPassword()" class="mt-2">&nbsp;<span class="text-warning" style="font-size: 10px;">cliquez ici pour voir</span>&nbsp;
          <small *ngIf="newUserFormGroup.controls['confirmPassword'].errors && newUserFormGroup.controls['confirmPassword'].touched" class="text-danger">{{getErrorMessagePassword('confirmPassword', newUserFormGroup.controls['confirmPassword'].errors)}}</small>
        </div>

        <div class="mb-3">
          <label class="form-label"><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Date d'anniversaire</label>
          <input type="date" formControlName = "birthday" class="form-control bg-secondary">
          <small *ngIf="newUserFormGroup.controls['birthday'].errors && newUserFormGroup.controls['birthday'].touched" class="text-danger">{{getErrorMessage('birthday', newUserFormGroup.controls['birthday'].errors)}}</small>

        </div>

        <!--     <div class="mb-3">
               <label class="form-label">Code de parrainage</label>
               <input type="text" formControlName = "referralCode" class="form-control bg-secondary">
               <small *ngIf="newUserFormGroup.controls['referralCode'].errors && newUserFormGroup.controls['referralCode'].touched" class="text-danger">{{getErrorMessage('referralCode', newUserFormGroup.controls['referralCode'].errors)}}</small>
             </div>-->

        <div class="mb-3 form-check">
          <label class="form-label"><i style="font-size: 20px" class="text-danger">*&nbsp;</i>j'ai lu et approuvé les <a class="hide-underline-link text-warning" routerLink="/privacyOut">termes</a></label>&nbsp;
          <input type="checkbox" formControlName = "acceptTerms" class="form-check-input bg-secondary">
          <small *ngIf="newUserFormGroup.controls['acceptTerms'].errors && newUserFormGroup.controls['acceptTerms'].touched" class="text-danger">{{getErrorMessageTerms('acceptTerms', newUserFormGroup.controls['acceptTerms'].errors)}}</small>

        </div>

<!--        <span class="text-secondary" style="font-size: 17px">Déjà un compte ? | <a class="hide-underline-link" routerLink="/login"><span class="text-warning">Connectez vous</span></a></span>-->

        <div class="text-center text-white">
          <button [disabled] = "!newUserFormGroup.valid" class="btn btn-warning w-30 mb-xxl-2 mt-lg-1" type="submit">Inscription</button>
        </div>

      </form>

      <span class="text-muted text-center"> les champs marqués par <i class="text-danger">*</i> sont obligatoires</span>
    </div>
  </div>
</div>


<div class="spacer-left mb-3 mt-3"><a class="btn btn-dark text-warning" routerLink="/users">Retour</a> </div>

<app-footer></app-footer>
