

  <main >
    <div class="container">

      <div class="card bg-dark col-md-6 offset-md-3 mt-xxl-5 sp">
        <h5 class="text-center text-warning spacer">BOZAHOUSE</h5>
        <h5 class="text-center text-muted">la maison des bozayeurs ! </h5>

        <div class="card-body">

          <form [formGroup]="newPasswordFormGroup" (ngSubmit)="handleResetPassword()">
            <div class="mb-3">
              <label class="form-label text-white"><i style="font-size: 20px" class="text-danger">*&nbsp;</i> Username</label>
              <input type="text" formControlName="username" class="form-control">
              <small *ngIf="newPasswordFormGroup.controls['username'].errors && newPasswordFormGroup.controls['username'].touched" class="text-danger">{{getErrorMessage('username', newPasswordFormGroup.controls['username'].errors)}}</small>

            </div>

            <span class="text-secondary" style="font-size: 17px">Avez-vous déjà consulteé votre mail ? | <a class="hide-underline-link" routerLink="/login"><span class="text-light">Connectez vous</span></a></span>


            <div class="text-center text-dark">
              <button [disabled] = "!newPasswordFormGroup.valid" class="btn btn-warning w-40 mt-lg-4" type="submit">Reset</button>
            </div>

          </form>
        </div>
      </div>

    </div>
  </main>
