
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>

    </div>
  </header>

  <main >
    <div class="container">

      <div class="card bg-dark col-md-6 offset-md-3 mt-xxl-5 sp">
        <h5 class="text-center text-warning spacer">BOZAHOUSE</h5>
        <h5 class="text-center text-muted">la maison des bozayeurs ! </h5>

        <div class="card-body">

          <form [formGroup]="newPasswordFormGroup" (ngSubmit)="handleResetPassword()">
            <div class="mb-3">
              <label class="form-label text-white"><i style="font-size: 20px" class="text-danger">*&nbsp;</i> Username</label>
              <input type="text" formControlName="username" class="form-control">
              <small *ngIf="newPasswordFormGroup.controls['username'].errors && newPasswordFormGroup.controls['username'].touched" class="text-danger">{{getErrorMessage('username', newPasswordFormGroup.controls['username'].errors)}}</small>

            </div>

            <span class="text-secondary" style="font-size: 17px">Avez-vous déjà consulteé votre mail ? | <a class="hide-underline-link" routerLink="/login"><span class="text-light">Connectez vous</span></a></span>


            <div class="text-center text-dark">
              <button [disabled] = "!newPasswordFormGroup.valid" class="btn btn-warning w-40 mt-lg-4" type="submit">Reset</button>
            </div>

          </form>
        </div>
      </div>

    </div>
  </main>

</div>















<!--

<html class="bg-secondary">
<body class="bg-secondary mt-xxl-5 mb-xxl-5">

<div class="container">

  <div class="card bg-dark col-md-6 offset-md-3">
    <h5 class="text-center text-warning spacer">BOZAHOUSE</h5>
    <h5 class="text-center text-muted">la maison des bozayeurs ! </h5>

    <div class="card-body">

      <form [formGroup]="loginFormGroup" (ngSubmit)="handleLogin()">
        <div class="mb-3">
          <label class="form-label text-white"><i style="font-size: 20px" class="text-danger">*&nbsp;</i> Username</label>
          <input type="text" formControlName="username" class="form-control">
          <small *ngIf="loginFormGroup.controls['username'].errors && loginFormGroup.controls['username'].touched" class="text-danger">{{getErrorMessage('username', loginFormGroup.controls['username'].errors)}}</small>

        </div>


        <div class="mb-3">
          <label class="form-label text-white"><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Password</label>
          <input type="text" formControlName="password" class="form-control">
          <small *ngIf="loginFormGroup.controls['password'].errors && loginFormGroup.controls['password'].touched" class="text-danger">{{getErrorMessage('password', loginFormGroup.controls['password'].errors)}}</small>

        </div>


        <span class="text-secondary" style="font-size: 17px">Pas de compte ? | <a class="hide-underline-link" routerLink="/register"><span class="text-light">Inscrivez vous</span></a></span>&nbsp;
        <span class="text-white"  style="font-size: 17px"> | <a class="hide-underline-link" routerLink="/register"><span style="font-size: 17px" class="text-warning">Mot de passe oublié ?</span></a></span><br>

        <div class="text-center text-white">
          <button class="btn btn-primary w-100 mb-xxl-5 mt-lg-5" type="submit">Connexion</button>
        </div>

      </form>
    </div>
  </div>

</div>

<div class="bg-secondary">

</div>

</body>
</html>
-->

