


<div class=" card  col-md-6 offset-md-3 mt-5">

  <div class="container col-10">
    <h5 class="text-center  spacer">Entrez les informations de votre offre</h5>

    <form [formGroup] = "newOfferFormGroup" (ngSubmit)="handleSaveOffer()"  class="row g-3">

      <div class="col-md-4 form-floating">
        <input  formControlName = "title" type="text" class="form-control {{r['title'].errors && r['title'].touched?'is-invalid':'is-valid'}}" required>
        <label class="form-label">Intitulé du poste</label>
        <div class="{{ (r['title'].errors && r['title'].touched)?'invalid-feedback':'valid-feedback'}}">
          <small *ngIf="r['title'].errors && r['title'].touched" class="text-danger">{{handleGetErrorMessageFromChild('title', r['title'].errors)}}</small>
        </div>
      </div>

      <div class="col-md-4 form-floating">
        <input formControlName = "domain" type="text" class="form-control {{r['domain'].errors && r['domain'].touched?'is-invalid':'is-valid'}}"  value="Mark" required>
        <label class="form-label">Domaine</label>
        <div class="{{r['domain'].errors && r['domain'].touched?'invalid-feedback':'valid-feedback'}}">
          <small *ngIf="r['domain'].errors && r['domain'].touched" class="text-danger">{{handleGetErrorMessageFromChild('domain', r['domain'].errors)}}</small>
        </div>
      </div>

      <div class="col-md-4 form-floating">
        <input  formControlName = "needPeople" type="number" min="1" step="1" class="form-control {{r['needPeople'].errors && r['needPeople'].touched?'is-invalid':'is-valid'}}" required>
        <label class="form-label"> Nombre de poste</label>
        <div class="{{ (r['needPeople'].errors && r['needPeople'].touched)?'invalid-feedback':'valid-feedback'}}">
          <small *ngIf="r['needPeople'].errors && r['needPeople'].touched" class="text-danger">{{handleGetErrorMessageFromChild('needPeople', r['needPeople'].errors)}}</small>
        </div>
      </div>



      <div class="form-floating col-md-6">
        <textarea id="mission"  class="form-control h-100 mission {{(r['mission'].errors && r['mission'].touched)?'is-invalid':'is-valid'}}" formControlName="mission" type="text" ></textarea>
        <label>Mission du poste</label>
        <div class="{{(r['mission'].errors && r['mission'].touched)?'invalid-feedback':'valid-feedback'}}">
          <small *ngIf="r['mission'].errors && r['mission'].touched" class="text-danger">{{handleGetErrorMessageFromChild('mission', r['mission'].errors)}}</small>
        </div>
      </div>

      <div class="form-floating col-md-6">
        <textarea id="profile"  class="form-control h-100 profile {{(r['profile'].errors && r['profile'].touched)?'is-invalid':'is-valid'}}" formControlName="profile" type="text" ></textarea>
        <label>Profil recherché</label>
        <div class="{{(r['profile'].errors && r['profile'].touched)?'invalid-feedback':'valid-feedback'}}">
          <small *ngIf="r['profile'].errors && r['profile'].touched" class="text-danger">{{handleGetErrorMessageFromChild('profile', r['profile'].errors)}}</small>
        </div>
      </div>

      <div class="form-floating col-md-4">
        <textarea placeholder="séparez les compétences par une virgule. example : java, angular, css" aria-label="with textarea" class="form-control {{(r['skills'].errors && r['skills'].touched)?'is-invalid':'is-valid'}}" formControlName="skills" type="text" ></textarea>
        <label> Compétences réquise</label>
        <div class="{{(r['skills'].errors && r['skills'].touched)?'invalid-feedback':'valid-feedback'}}">
          <small *ngIf="r['skills'].errors && r['skills'].touched" class="text-danger">{{handleGetErrorMessageFromChild('skills', r['skills'].errors)}}</small>
        </div>
      </div>


      <div class="col-md-4 form-floating">
        <select class="form-select {{(r['workMode'].errors && r['workMode'].touched)?'is-invalid':'is-valid'}} " formControlName = "workMode"   required>
          <option selected disabled value="">Choisir une option</option>
          <option value="Sur site">Sur site</option>
          <option value="A distance">A distance</option>
          <option value="Hybride">Hybride</option>
        </select>
        <label>Mode de travail</label>
        <div class="{{(r['workMode'].errors && r['workMode'].touched)?'invalid-feedback':'valid-feedback'}}">
          <small *ngIf="r['workMode'].errors && r['workMode'].touched" class="text-danger">{{handleGetErrorMessageFromChild('workMode', r['workMode'].errors)}}</small>
        </div>
      </div>


      <div class="col-md-4 form-floating">
        <select class="form-select {{(r['experience'].errors && r['experience'].touched)?'is-invalid':'is-valid'}} " formControlName = "experience"   required>
          <option selected disabled value="">Choisir une option</option>
          <option value="Premier emploi">Premier emploi</option>
          <option value="1-2 ans">1-2 ans</option>
          <option value="3-5 ans">3-5 ans</option>
          <option value="6-10 ans">6-10 ans</option>
          <option value="11-20 ans">11-20 ans</option>
          <option value="+20 ans">plus de 20 ans</option>
        </select>
        <label>Experience</label>
        <div class="{{(r['experience'].errors && r['experience'].touched)?'invalid-feedback':'valid-feedback'}}">
          <small *ngIf="r['experience'].errors && r['experience'].touched" class="text-danger">{{handleGetErrorMessageFromChild('experience', r['experience'].errors)}}</small>
        </div>
      </div>

      <div class="col-md-4 form-floating">
        <input formControlName = "tel" type="tel" class="form-control {{ (r['tel'].errors && r['tel'].touched)?'is-invalid':'is-valid'}}"   required>
        <label  class="form-label">Téléphone</label>
        <div class="{{r['tel'].errors && r['tel'].touched?'invalid-feedback':'valid-feedback'}}">
          <small *ngIf="r['tel'].errors && r['tel'].touched" class="text-danger">{{handleGetErrorMessageFromChild('tel', r['tel'].errors)}}</small>
        </div>
      </div>

      <div class="col-md-4 form-floating">
        <input  formControlName = "email" type="email" class="form-control {{r['email'].errors && r['email'].touched?'is-invalid':'is-valid'}}" required>
        <label class="form-label">Email</label>
        <div class="{{r['email'].errors && r['email'].touched?'invalid-feedback':'valid-feedback'}}">
          <small *ngIf="r['email'].errors && r['email'].touched" class="text-danger">{{handleGetErrorMessageFromChild('email', r['email'].errors)}}</small>
        </div>
      </div>

      <div class="form-floating col-md-4">
        <input placeholder="Yaoundé, Cameroun" class="form-control {{(r['address'].errors && r['address'].touched)?'is-invalid':'is-valid'}}" formControlName="address" type="text" >
        <label>Address</label>
        <div class="{{(r['address'].errors && r['address'].touched)?'invalid-feedback':'valid-feedback'}}">
          <small *ngIf="r['address'].errors && r['address'].touched" class="text-danger">{{handleGetErrorMessageFromChild('address', r['address'].errors)}}</small>
        </div>
      </div>


      <div class="col-md-4 form-floating">
        <select class="form-select  {{(r['contract'].errors && r['contract'].touched)?'is-invalid':'is-valid'}} " formControlName = "contract"   required>
          <option selected disabled value="">Choisir une option</option>
          <option value="CDI">CDI</option>
          <option value="CDD">CDD</option>
          <option value="FREELANCE">Freelance</option>
          <option value="INTERIM">Intérim</option>
          <option value="ASSOCIE">Associé(e)</option>
          <option value="ALTERNANCE">Alternance</option>
          <option value="FRANCHISE">Franchise</option>
          <option value="STAGE ACADEMIC">Stage academic</option>
          <option value="STAGE PROFESSIONNELLE">Stage professionnelle</option>
          <option value="TOUT">Tout</option>
        </select>
        <label >Contract</label>
        <div class="{{(r['contract'].errors && r['contract'].touched)?'invalid-feedback':'valid-feedback'}}">
          <small *ngIf="r['contract'].errors && r['contract'].touched" class="text-danger">{{handleGetErrorMessageFromChild('contract', r['contract'].errors)}}</small>
        </div>
      </div>

      <div class="form-floating col-md-4">
        <input type="text"   formControlName = "salary" placeholder="Entrez un montant ( optionelle )"  class="form-control {{(r['salary'].errors && r['salary'].touched)?'is-invalid':'is-valid'}}" >
        <label >Salaire</label>
        <div >
          <small class="text-secondary">Ce champs est optionnel</small>
        </div>
      </div>

      <div class="col-md-4 form-floating">
        <input formControlName = "endOffer" type="date" class="form-control {{r['endOffer'].errors && r['endOffer'].touched?'is-invalid':'is-valid'}}"  required>
        <label class="form-label">Date d'expiration</label>
        <div class="{{r['endOffer'].errors && r['endOffer'].touched?'invalid-feedback':'valid-feedback'}}">
          <small *ngIf="r['endOffer'].errors && r['endOffer'].touched" class="text-danger">{{handleGetErrorMessageFromChild('endOffer', r['endOffer'].errors)}}</small>
        </div>
      </div>


      <div class="form-floating col-12">
        <input (change)="getFile($event)" type="file" class="form-control" accept=".application/pdf">
        <label>Ajouter un fichier </label>
        <div >
          <small class="text-secondary">Votre offre au format pdf (optionnelle)</small>
        </div>
      </div>


      <div class="text-center col-12">
        <button [disabled] = "!newOfferFormGroup.valid " class="btn btn-primary w-30 mb-xxl-2 mt-lg-1" type="submit">Envoyer</button>
      </div>

    </form>


  </div>
</div>






<!--<div class="mb-3 spacer-left mt-3">
  <span><a routerLink="/jobs" class="hide-underline-link btn btn-dark text-warning">Retour</a> </span>
</div>-->







<!--<div class="container px-4 py-5">
  <div class="row">
    <h2 class="text-center mt-4">Angular Stepper Tutorials</h2>
    <div class="col-md-9 mx-auto">
      <app-stepper [linearModeSelected]="false" #appStepper>
        <cdk-step [label]="'Information sur l\'employeur'">
          <app-info-entreprise></app-info-entreprise>
        </cdk-step>
        <cdk-step [label]="'Besoin de l\' employeur'">
       <app-besoin-entreprise></app-besoin-entreprise>
        </cdk-step>
        <cdk-step [label]="'Localisation'">
<app-localisation></app-localisation>
        </cdk-step>
        <cdk-step [label]="'Autres informations'">
 <app-other-information></app-other-information>
        </cdk-step>
        <cdk-step [label]="'Validation'">
          <app-other-information></app-other-information>
        </cdk-step>
      </app-stepper>
    </div>
  </div>
</div>-->

<!--
<div class="container">
  <div class="row">
    <h2 class="text-center mt-4">Angular Stepper Tutorials</h2>
    <div class="col-md-9 mx-auto">
      <app-stepper [linearModeSelected]="false" #appStepper>
        <cdk-step [label]="'Information'">
          <app-information></app-information>
        </cdk-step>
        <cdk-step [label]="'Contact'">
          <app-contact></app-contact>
        </cdk-step>
        <cdk-step [label]="'Security'">
          <app-security></app-security>
        </cdk-step>
        <cdk-step [label]="'Finish'">
          <app-finish></app-finish>
        </cdk-step>
      </app-stepper>
    </div>
  </div>
</div>-->
