<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
<!--    <a class="navbar-brand" routerLink="/home">BOZAHOUSE</a>-->
    <a class="navbar-brand" href="javascript:void (0);">
      <img ngSrc="assets/img/bozahouse.svg" alt="" width="50" height="44" class="d-inline-block align-text-top">
      Bozahouse
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/home">Accueil</a></li>
        <li class="nav-item"><a routerLink="/jobs" routerLinkActive="active" class="nav-link ">Jobs</a></li>
        <li class="nav-item"><a routerLink="/talents" routerLinkActive="active" class="nav-link ">Talents</a></li>

        <li class="nav-item"><a routerLink="/testimonies" routerLinkActive="active" class="nav-link">Avis</a></li>


      </ul>

      <ul class="navbar-nav d-flex">

        <li *appAuthorize="['EDITOR']" class="nav-item"><a routerLink="/users" routerLinkActive="active" class="nav-link"><i class="bi bi-eye-slash-fill"></i> </a></li>

      <li class="nav-item" style="margin-right: 40px;"><a routerLink="/account" routerLinkActive="active"  class="nav-link"> <img ngSrc="assets/img/logo.jpg" alt="" width="30" height="30" class="rounded-pill"> {{currentUser.username}}</a></li>

      <li class="nav-item" style="margin-right: 30px"><a routerLink="/login" routerLinkActive="active" (click)="logout()"  class="nav-link"><i class="bi bi-box-arrow-right"></i> Logout</a></li>
      </ul>

    </div>

  </div>

</nav>


<!--<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img ngSrc="assets/img/logo.jpg" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Bozahouse
    </a>
  </div>
</nav>-->
