<html class="bg-secondary" xmlns="http://www.w3.org/1999/html">
<body class="bg-secondary">
<app-navbar></app-navbar>

<div class="container spacer  ">
  <div class="text-center">
    <!-- sidebar left -->
    <button  type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><i class="bi bi-search"></i>rechercher </button>

    <div class="offcanvas offcanvas-start col-md-4 bg-dark" style="background-color: ghostwhite" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel "><span class="text-light"> Filter les talents</span></h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">

        <div class="card" style="font-size: 15px;">
<!--          <h5 class="card-header bg-dark text-warning"><i class="bi bi-search"></i>Rechercher </h5>-->
          <div class="card-body bg-dark text-white-50" >

            <form  *ngIf="talentFormGroup" [formGroup] = "talentFormGroup" (ngSubmit)="handleSearchTalents()" >

              <div class="mb-3 mt-2">
                <label class="form-label">Métier</label>
                <input type="text" class="form-control" formControlName = "title" placeholder="métier du talent, ex: infimier">
              </div>


              <div class="mb-3 mt-2">
                <label class="form-label">Contract</label>
                <select class="form-select" formControlName = "contract" >
                  <option value="" disabled selected>Contract</option>
                  <option value="CDI">CDI</option>
                  <option value="CDD">CDD</option>
                  <option value="FREELANCE">Freelance</option>
                  <option value="INTERIM">Intérim</option>
                  <option value="ASSOCIE">Associé(e)</option>
                  <option value="ALTERNANCE">Alternance</option>
                  <option value="FRANCHISE">Franchise</option>
                  <option value="STAGE ACADEMIC">Stage academic</option>
                  <option value="STAGE PROFESSIONNELLE">Stage professionnelle</option>
                </select>
              </div>


              <div class="mb-3 mt-2">
                <label class="form-label">Mode de Travail</label>
                <select class="form-select" formControlName = "workMode">
                  <option value="" disabled selected >Mode de travail</option>
                  <option value="Sur site">Sur site</option>
                  <option value="A distance">A distance</option>
                </select>
              </div>

              <div class="mb-3 mt-2">
                <label class="form-label">Adresse</label>
                <input type="text" class="form-control" formControlName = "address" placeholder="Address, ex: Simbok,Yaoundé,Cameroun" >
              </div>

              <!--              <div class="mb-3 mt-2">
                              <input type="text" class="form-control" formControlName = "countryName"  placeholder="Pays, ex: Cameroun">
                            </div>


                            <div class="mb-3 mt-2">
                              <input type="text" class="form-control" formControlName = "cityName"  placeholder="Ville, ex: Bertoua">
                            </div>-->

              <!--     <div class="mb-3">
                     <label class="form-label">Salaire</label>
                     <input type="text" class="form-control" formControlName = "salary" value="A définir avec l'employeur" required>
                   </div>
         -->

              <div class="mb-3 mt-2">
                <label class="form-label">Experience</label>
                <select class="form-select" formControlName = "experience" >
                  <option value="" disabled selected>Experience</option>
                  <option value="Aucune">Aucune</option>
                  <option value="Jeune diplomé">Jeune diplomé</option>
                  <option value="1-2 ans">1-2 ans</option>
                  <option value="3-5 ans">3-5 ans</option>
                  <option value="6-10 ans">6-10 ans</option>
                  <option value="11-20 ans">11-20 ans</option>
                  <option value="+20 ans">plus de 20 ans</option>
                </select>
              </div>


              <div class="mb-3">
                <label class="form-label">Type de talent</label>
                <select class="form-select" formControlName = "type" >
                  <option value=""  selected disabled>Type de talent</option>
                  <option value="simple">Simple</option>
                  <option value="professional">Professionnelle</option>
                </select>
              </div>

              <div class="mb-3 mt-2">
                <label class="form-label">Domaine</label>
                <input type="text" class="form-control" formControlName = "domain"  placeholder="Domaine, ex: informatique">
              </div>

      <!--        <div class="mb-3 mt-2">
                <label class="form-label">Date de début</label>
                <input type="date" class="form-control" formControlName = "startDate" >
              </div>

              <div class="mb-3 mt-2 mb-2">
                <label class="form-label">Date de fin</label>
                <input type="date" class="form-control" formControlName = "endDate" >
              </div>-->



              <button   class="btn btn-outline-light text-warning" type="submit">rechercher&nbsp;<i class="bi bi-search"></i> </button>
              <span class="btn btn-outline-danger spacer-left" (click)="handleSetSearchTalentForm()">reset</span>
            </form>

          </div>
        </div>

      </div>
    </div> &nbsp;&nbsp;&nbsp;&nbsp;


    <ng-container *ngIf="currentUser">
      <ng-container *ngIf="currentUser.account == 'talent' && currentUser.activatedHostSubscription || isAdmin">
      <span style="font-size: 20px;">
      <a routerLink="/addTalent" class="hide-underline-link btn btn-dark text-warning">
      <i class="bi bi-plus "></i> publier un profil
      </a>
    </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </ng-container>

    </ng-container>



    <!-- sidebar right -->
    <!--
        <button type="button" data-bs-toggle = "offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">offres personnalisées </button>
        <div class="offcanvas offcanvas-end col-md-4" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
          <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel">Effectuez un filtre</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <div class="card">
              <h5 class="card-header">Filtré par : </h5>
              <div class="card-body">





              </div>
            </div>
          </div>
        </div>
    -->

  </div><br>
  <div class="card bg-secondary border-0">

    <h5 class="text-center mt-2"><i class="bi bi-dash text-success w-100" ></i><i class="bi bi-dash text-success w-100" ></i><i class="bi bi-dash text-success w-100" ></i> <i class="bi bi-dash text-success w-100" ></i>&nbsp;Vos derniers talents &nbsp;<i class="bi bi-dash text-success w-100" ></i><i class="bi bi-dash text-success w-100" ></i><i class="bi bi-dash text-success w-100" ></i><i class="bi bi-dash text-success w-100" ></i></h5>

    <div class="row">

      <ng-container>
        <ng-container *ngIf="talents | async as listTalent; else failureOrLoading">
          <div  *ngFor="let talent of talents | async"  class="col-md-4 ">
            <div class="card  spacer-margin bg-dark">

              <div *ngIf="isAdmin" class="card-header">


                <a (click)="handleEnableTalent(talent)" class="btn btn-secondary">
                  E
                </a>&nbsp;&nbsp;&nbsp;&nbsp;

                <a (click)="handleDisableTalent(talent)" class="btn btn-secondary">
                  D
                </a>&nbsp;&nbsp;&nbsp;&nbsp;

                <a (click)="handleUpdateTalent(talent.id)" class="btn btn-warning">
                  <i class="bi bi-pencil"></i>
                </a> &nbsp;&nbsp;&nbsp;&nbsp;

                <a (click)="handleDeleteTalent(talent)" class="btn btn-danger">
                  <i class="bi bi-trash"></i>
                </a>


              </div>
              <div class="card-body text-center" >
                <span class="text-warning" style="font-size: 35px;">{{talent.firstname}}</span><br>
                <span class="text-light">[ {{talent.title}} ]</span><br>
                <span class="text-white-50" style=" font-size: 15px"><i class="bi bi-geo-alt-fill" style="font-size: 20px;"></i> {{talent.address}}</span><br />
                <span class="text-white-50" style=" font-size: 15px"><i class="bi bi-person-fill">&nbsp;</i>{{talent.sex}}</span> &nbsp;&nbsp; <span class="text-white-50" style=" font-size: 15px" ><i class="bi bi-hourglass-split"></i> {{talent.experience}} </span><br />


                <span *ngIf="talent.salary==''; else other">
        <span style="color: #bb2d3b; font-size: 20px"> Salaire à définir avec l'employeur </span><br />
      </span>

                <ng-template #other>
                  <span *ngIf="talent.salary" style="color: #bb2d3b; font-size: 20px"> {{talent.salary | number: '1.0-0'}} FCFA</span><br />
                </ng-template>

                <div class="text-muted mb-1">
                  <span class="text-white-50"><i class="bi bi-book-fill"></i>&nbsp;<span>{{talent.contract}}</span></span>
                </div>

                <ng-container>
                  <ng-container *ngIf="currentUser.account == 'employer' && currentUser.activatedNormalSubscription
        || currentUser.account == 'enterprise' && currentUser.activatedNormalSubscription
        || currentUser.account == 'talent' && currentUser.activatedHostSubscription || isAdmin; else other2">
                    <span><a (click)="handleDetailTalent(talent.id)" class="btn btn-warning rounded-pill">Voir plus</a></span><br>
                  </ng-container>

                  <ng-template #other2>
                    <!--                <span class="text-muted"><a class="btn btn-success"><i class="bi bi-whatsapp"></i>&nbsp;Click here to subscribe </a></span><br>-->



                    <span class="btn btn-danger" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">Voir le talent</span>

                    <div class="card offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
                      <div class="offcanvas-header">
                        <h5 id="offcanvasTopLabel">Vous n'avez aucun abonnement de type normal</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                      </div>
                      <div class="offcanvas-body">
                        contactez l'un de ces commerciaux pour pouvoir créer un abonnement
                        pour voir les détails de cet offre, vous devez souscrire à un abonnement
                      </div>
                    </div>

                  </ng-template>
                </ng-container>

              </div>
              <span class="text-muted card-footer btn" style=" font-size: 18px" (click)="shared()">partager &nbsp;<i class="bi bi-share-fill"></i></span>
            </div>
          </div>
        </ng-container>
        <ng-template #failureOrLoading>
          <ng-container *ngIf="errorMessageTalent; else Loading">
            <div class="text-warning text-center spacer-margin">
              <span>Oups ! pas de données pour le moment</span>
            </div>
          </ng-container>

          <ng-template #Loading>

            <div class="d-flex justify-content-center spacer-margin" >
              <div class=" spinner-border text-info" style="width: 3rem; height: 3rem;" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </ng-template>

        </ng-template>
      </ng-container>


    </div>

    <ul class=" nav nav-pills spacer-left spacer-bottom">
      <ng-container *ngIf="currentPage > 0 && currentPage != 0">
        <li >
          <a class="page-link btn ms-1" (click)="goToPage(currentPage - 1)" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      </ng-container>

      <!-- "[A-Za-z0-9.%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{3,4}" -->

      <li *ngFor="let item of [].constructor(totalPages); let page = index" >
        <a [ngClass]="page==currentPage?'btn-warning':'btn-outline-warning'" (click)="goToPage(page)" class="btn ms-1"  >{{page}}</a>
      </li>
      <ng-container *ngIf="currentPage != totalPages - 1 && currentPage>0">
        <li >
          <a class="page-link btn ms-1" (click)="goToPage(currentPage + 1)" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ng-container>

    </ul>

  </div >


</div>


<div class="spacer"></div>

<app-footer>

</app-footer>
</body>
</html>

<!--<html class="bg-secondary">
<body class="bg-secondary">

</body>
</html>-->


