<div class=" card  col-md-6 offset-md-3 mt-5">

  <div class="container col-12">
    <h5 class="text-center spacer">BOZAHOUSE</h5>
    <h5 class="text-center ">la maison des bozayeurs ! </h5>

    <form [formGroup] = "loginFormGroup" (ngSubmit)="handleLogin()"  class="row g-3">

      <div class="col-md-12 form-floating">

        <input  formControlName = "email" type="email" class="form-control {{r['email'].errors && r['email'].touched?'is-invalid':'is-valid'}}" required>
        <label class="form-label">Email</label>
        <div class="{{r['email'].errors && r['email'].touched?'invalid-feedback':'valid-feedback'}}">
          <small *ngIf="r['email'].errors && r['email'].touched" class="text-danger">{{handleGetErrorMessageFromChild('email', r['email'].errors)}}</small>
<!--          <small *ngIf="emailIsEmpty()" class="text-danger">Veuillez renseignez ce champ</small>-->

        </div>

      </div>

      <div class="col-md-12 form-floating">

        <input  formControlName = "password" type="password" class="form-control {{r['password'].errors && r['password'].touched?'is-invalid':'is-valid'}}" id="pwd" required>
        <input type="checkbox" (change)="showAndHidePassword()" class="mt-2">&nbsp;<span  style="font-size: 10px;">cliquez ici pour voir</span>&nbsp;
        <label class="form-label">Mot de passe</label>
        <div class="{{r['password'].errors && r['password'].touched?'invalid-feedback':'valid-feedback'}}">
          <small *ngIf="r['password'].errors && r['password'].touched" class="text-danger">{{handleGetErrorMessageFromChild('password', r['password'].errors)}}</small>

<!--          <small *ngIf="passwordIsEmpty()" class="text-danger">Veuillez renseignez ce champ</small>-->
        </div>

      </div>

      <div class="container">
        <span  style="font-size: 15px">Pas de compte ? | <a href="javascript:void (0);"  class="text-decoration-none text-success" routerLink="/register"><span>Inscrivez vous</span></a></span> |
        <span  style="font-size: 15px">Mot de passe oublié ? | <a href="javascript:void (0);"  class="text-decoration-none text-success" routerLink="/forgotPassword"><span style="font-size: 15px" >Cliquez ici</span></a></span><br>

      </div>

      <div class="text-center col-12 mb-3">
        <button [disabled] = "!loginFormGroup.valid" class="btn btn-primary w-40 mt-lg-4" type="submit">Connexion</button>
      </div>

    </form>




  </div>
</div>


<app-toast [toastMessageChild]="toastMessageParent"></app-toast>
  <app-modal-error [errorMessageChild]= "errorMessageParent"></app-modal-error>
<!--  <app-modal-validation [validationMessageChild]= "errorMessageParent"></app-modal-validation>-->













