<html class="bg-secondary">
<body class="bg-secondary">

<app-navbar></app-navbar>

<div class="container col-md-10 ">


  <div class="card col-md-7 offset-md-3 spacer bg-dark">
    <h5 class="text-center spacer text-warning">PROTECTION DES DONNEES</h5>
    <div class="text-center">
      <p class="text-white-50">
        Cette politique de protection de données décrit la manière dont vos informations personnelles sont collectées et utilisées
        lorsque vous postez des annonces sur Bozahouse.
      </p>
    </div>

      <div class="card bg-dark spacer-margin">
        <div class="card-body">
          <h5 class="text-light">COLLECTE DE DONNEES PERSONNELLES</h5>
          <div class="card-text text-muted">
            <p>
              Losque vous postez une annonce, nous collectons certaines informations, notamment votre nom,
              adresse électronique, numéro de télépone et l'url de vos réseaux sociaux.
              Nous utilisons ces informations pour permettre à votre cible d'entrer facilement en contact avec vous.
            </p>
            <p>
              Lorsque nous parlons d'informations personnelles, dans la présente politique de confidentialité, nous
              parlons d'informations sur les annonces et vos données personnelles.
            </p>
          </div>
        </div>
      </div>

      <div class="card bg-dark spacer-margin">
        <div class="card-body">
          <h5 class="text-light"> TRAITEMENT DE DONNEES PERSONNELLES</h5>
          <div class="card-text text-muted">
            <p>
              Nous utilisons les informations que nous collectons pour permettre à votre cible d'entrer facilement en contact avec vous.
            </p>
          </div>
        </div>
      </div>

      <div class="card bg-dark spacer-margin">
        <div class="card-body">
          <h5 class="text-light">PARTAGE DE DONNEES PERSONNELLES</h5>
          <div class="card-text text-muted">
              <p>
                Nous partageons vos informations personnelles avec vos futurs employeurs si vous êtes à la recherche d'un emploi
                ou avec vos futurs employés si vous êtes à la recherche des talents.
              </p>

          </div>
        </div>
      </div>

      <div class="card bg-dark spacer-margin">
        <div class="card-body">
          <h5 class="text-light">VOS DROITS</h5>
          <div class="card-text text-muted">
            <p>
              Vous avez le droit d'accéder aux informations personnelles que nous détenons à votre sujet et de demander que vos informations
              personnelles soient corrigées, mise à jour ou supprimer. Si vous souhaitez exercer ce droit, veuillez nous contacter via les
              coordonnées ci-dessous.
            </p>
          </div>
        </div>
      </div>



    <div class="card bg-dark spacer-margin">
      <div class="card-body">
        <h5 class="text-light">DETENTION DES DONNEES</h5>
        <div class="card-text text-muted">
          <p>
            Lorsque vous vous inscrivez sur notre site, nous conservons vos informations jusqu'à ce que vous nous demandiez des les supprimer.
            Nous pouvons mettre à jour cette politique de confidentialité de temps à autre à fin d'ameliorer votre expérience sur Bozahouse.
            </p>
          <p>
            Pour plus d'informations sur nos pratiques de confidentialitées, si vous avez des questions ou si vous souhaitez
            déposer une plainte, veuillez nous contacter par courrier électronique à l'adresse support@bozahouse.com ou par téléphone au numéro +237656832062
          </p>
          <p>
            L’utilisateur est invité à prendre connaissance de cette Politique à chaque fois qu’il utilise nos services, sans qu’il soit nécessaire de l’en prévenir formellement.
          </p>
        </div>
      </div>
    </div>

  </div>

</div>

<div class="mb-3 spacer-left mt-3">
  <span><a routerLink="/home" class="hide-underline-link btn btn-dark text-warning"> Retour</a> </span>
</div>

<app-footer></app-footer>

</body>

</html>


