<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">BOZAHOUSE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/home">Accueil</a></li>
        <li class="nav-item"><a routerLink="/jobs" routerLinkActive="active" class="nav-link ">Jobs</a></li>
        <li class="nav-item"><a routerLink="/talents" routerLinkActive="active" class="nav-link ">Talents</a></li>
        <li class="nav-item"><a routerLink="/package" routerLinkActive="active" class="nav-link">CV</a></li>
        <li class="nav-item"><a routerLink="/testimonies" routerLinkActive="active" class="nav-link">Avis</a></li>
        <li class="nav-item"><a routerLink="/users" routerLinkActive="active" class="nav-link">Users</a></li>

        <li *ngIf="isAdmin" class="nav-item"><a routerLink="/listNews" routerLinkActive="active" class="nav-link">Newsletter</a></li>

        <li class="nav-item"><a routerLink="/configuration" routerLinkActive="active" class="nav-link">Configuration</a></li>

        <li *ngIf="isAdmin" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Disabled
          </a>
          <ul class="dropdown-menu bg-secondary text-dark" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item bg-secondary" routerLink="/usersDisabled" >users</a></li>
            <li><a class="dropdown-item bg-secondary" routerLink="/offersDisabled" >offers</a></li>
            <li><a class="dropdown-item bg-secondary" routerLink="/talentsDisabled" >talents</a></li>
          </ul>
        </li>


      </ul>

      <ul class="navbar-nav d-flex">

        <li *ngIf="isEditor" class="nav-item"><a routerLink="/users" routerLinkActive="active" class="nav-link"><i class="bi bi-eye-slash-fill"></i> </a></li>

        <li class="nav-item" style="margin-right: 40px;"><a routerLink="/account" routerLinkActive="active"  class="nav-link"><i class="bi bi-person"></i> {{username}}</a></li>

        <li class="nav-item" style="margin-right: 30px"><a routerLink="/login" routerLinkActive="active" (click)="logout()"  class="nav-link"><i class="bi bi-box-arrow-right"></i> Logout</a></li>
      </ul>

    </div>

  </div>


</nav>-->


<!-- -&#45;&#45;
layout: examples
title: Carousel Template
extra_css:
- "carousel.css"
-&#45;&#45;-->


  <nav class="navbar navbar-expand-md  fixed-top ">
    <div class="container-fluid">
      <a class="navbar-brand" href="javascript:void (0);">Bozahouse</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/home">Accueil</a></li>
          <li class="nav-item"><a routerLink="/jobs" routerLinkActive="active" class="nav-link ">Jobs</a></li>
          <li class="nav-item"><a routerLink="/talents" routerLinkActive="active" class="nav-link ">Talents</a></li>
          <li class="nav-item"><a routerLink="/package" routerLinkActive="active" class="nav-link">CV</a></li>
          <li class="nav-item"><a routerLink="/testimonies" routerLinkActive="active" class="nav-link">Avis</a></li>
          <li class="nav-item"><a routerLink="/users" routerLinkActive="active" class="nav-link">Users</a></li>

          <li  class="nav-item"><a routerLink="/listNews" routerLinkActive="active" class="nav-link">Newsletter</a></li>

          <li class="nav-item"><a routerLink="/configuration" routerLinkActive="active" class="nav-link">Configuration</a></li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Disabled
            </a>
            <ul class="dropdown-menu  " aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item " routerLink="/usersDisabled" >users</a></li>
              <li><a class="dropdown-item " routerLink="/offersDisabled" >offers</a></li>
              <li><a class="dropdown-item " routerLink="/talentsDisabled" >talents</a></li>
            </ul>
          </li>


        </ul>

        <div class="dropdown">
          <a href="javascript:void (0);" class="d-flex align-items-center text-decoration-none dropdown-toggle text-secondary" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="assets/img/kkm.JPG" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong >Maximilien</strong>
          </a>
          <ul class="dropdown-menu  text-small shadow">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>


