

  <div class="container px-4 py-5 col-md-6 offset-md-3">

<!--    <div class="card ">-->
      <h5 class="text-center  spacer">BOZAHOUSE</h5>
      <h5 class="text-center ">la maison des bozayeurs ! </h5>
      <h5 class="text-center " style="font-size: 14px">besoin d'aide ? <a href="javascript:void (0);" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#help">Cliquez ici</a></h5>


      <form [formGroup] = "registerFormGroup" (ngSubmit)="handleRegister()"  class="row g-3">

        <div class="col-md-4 form-floating">
          <input formControlName = "lastname" type="text" class="form-control is-valid"  value="Otto" required>
          <label  class="form-label">Nom</label>
          <div class="valid-feedback">
            <small *ngIf="r['lastname'].errors && r['lastname'].touched" class="text-danger">{{handleGetErrorMessageFromChild('lastname', r['lastname'].errors)}}</small>

            Looks good!

          </div>
        </div>

        <div class="col-md-4 form-floating">
          <input formControlName = "firstname" type="text" class="form-control is-valid"  value="Mark" required>
          <label class="form-label">Prénom</label>
          <div class="valid-feedback">
            <small *ngIf="r['firstname'].errors && r['firstname'].touched" class="text-danger">{{handleGetErrorMessageFromChild('firstname', r['firstname'].errors)}}</small>

            Looks good!
          </div>
        </div>

        <div class="col-md-4 form-floating">
          <input formControlName = "birthday" type="date" class="form-control is-invalid"  required>
          <label class="form-label">Date d'anniversaire</label>
          <div class="invalid-feedback">
            <small *ngIf="r['birthday'].errors && r['birthday'].touched" class="text-danger">{{handleGetErrorMessageFromChild('birthday', r['birthday'].errors)}}</small>

            Please choose your birthday.
          </div>

        </div>



        <div class="col-md-4 form-floating">

            <input  formControlName = "username" type="email" class="form-control is-invalid" required>
            <label class="form-label">Email</label>
            <div class="invalid-feedback">
              <small *ngIf="r['username'].errors && r['username'].touched" class="text-danger">{{handleGetErrorMessageFromChild('username', r['username'].errors)}}</small>
              <small *ngIf="!emailIsEmpty()" class="text-danger">Veuillez renseignez ce champ</small>
              Please choose email.
            </div>

        </div>

        <div class="col-md-4 form-floating">

          <input  formControlName = "password" type="password" class="form-control is-invalid" id="pwd" required>
          <input type="checkbox" (change)="showAndHidePassword()" class="mt-2">&nbsp;<span  style="font-size: 10px;">cliquez ici pour voir</span>&nbsp;
          <label class="form-label">Mot de passe</label>
          <div class="invalid-feedback">
            <small *ngIf="r['password'].errors && r['password'].touched" class="text-danger">{{handleGetErrorMessageFromChild('password', r['password'].errors)}}</small>
            Please choose a username.
            <small *ngIf="!passwordIsEmpty()" class="text-danger">Veuillez renseignez ce champ</small>
          </div>

        </div>

        <div class="col-md-4 form-floating">

          <input  formControlName = "confirmPassword" type="password" class="form-control is-invalid"  id="confPwd" required>
          <input type="checkbox" (change)="showAndHideConfirmPassword()" class="mt-2">&nbsp;<span style="font-size: 10px;">cliquez ici pour voir</span>&nbsp;
          <label class="form-label">Confirmation du mot de passe</label>
          <div class="invalid-feedback">
            Please choose a username.
            <small *ngIf="r['confirmPassword'].errors && r['confirmPassword'].touched" class="text-danger">{{handleGetErrorMessageFromChild('confirmPassword', r['confirmPassword'].errors)}}</small>
            <small *ngIf="!passwordsMatch()" class="text-danger">Les mots de passe ne correspondent pas</small>
            <small *ngIf="!confirmPasswordIsEmpty()" class="text-danger">Veuillez renseignez ce champ</small>
          </div>

        </div>

        <div class="col-md-6 form-floating">

          <select class="form-select is-invalid" formControlName = "howKnowUs"   required>
            <option selected disabled value="">Choisir une option</option>
            <option value="Amis">Amis</option>
            <option value="Facebook">Facebook</option>
            <option value="Whatsapp">Whatsapp</option>
            <option value="LinkedIn">LinkedIn</option>
            <option value="Youtube">Youtube</option>
            <option value="Twitter">Twitter</option>
            <option value="Autre">Autre</option>
          </select>
          <label>Comment avez vous connu Bozahouse ?</label>
          <div class="invalid-feedback">
            <small *ngIf="r['howKnowUs'].errors && r['howKnowUs'].touched" class="text-danger">{{handleGetErrorMessageFromChild('howKnowUs', r['howKnowUs'].errors)}}</small>
          </div>
        </div>

        <div class="col-md-3 form-floating">

          <select class="form-select is-invalid" formControlName = "account"   required>
            <option selected disabled value="">Choisir une option</option>
            <option value="Talent">Talent</option>
            <option value="Particulier">Particulier</option>
            <option value="Entreprise">Entreprise</option>
          </select>
          <label >Type de compte</label>
          <div class="invalid-feedback">
            <small *ngIf="r['account'].errors && r['account'].touched" class="text-danger">{{handleGetErrorMessageFromChild('account', r['account'].errors)}}</small>
            Please select a valid state.
          </div>
        </div>

        <div class="col-md-3 form-floating">

          <select class="form-select is-invalid" formControlName = "sex"   required>
            <option selected disabled value="">Choisir une option</option>
            <option value="Homme">Homme</option>
            <option value="Femme">Femme</option>
          </select>
          <label >Sexe</label>
          <div class="invalid-feedback">
            Please provide a sex.
            <small *ngIf="r['sex'].errors && r['sex'].touched" class="text-danger">{{handleGetErrorMessageFromChild('sex', r['sex'].errors)}}</small>

          </div>
        </div>

        <ng-container *ngIf="r['account'].value === 'Entreprise'">

          <div class="form-floating col-md-4">
            <input  formControlName = "name" type="text" class="form-control is-invalid" >
            <label>Nom de l'entreprise</label>
            <div class="invalid-feedback">
              <small *ngIf="r['name'].errors && r['name'].touched" class="text-danger">{{handleGetErrorMessageFromChild('name', r['name'].errors)}}</small>
              Please choose a name.
            </div>
          </div>
          <div class="form-floating col-md-4">
            <input  formControlName = "web" type="url" class="form-control is-invalid" placeholder="L'url de votre site web">
            <label >L'url de votre site web</label>
            <div class="invalid-feedback">
              <small *ngIf="r['web'].errors && r['web'].touched" class="text-danger">{{handleGetErrorMessageFromChild('web', r['web'].errors)}}</small>
              Please choose a web.
            </div>
          </div>

          <div class="form-floating col-md-4">
            <input  formControlName = "linkedin" type="url" class="form-control is-invalid"  placeholder="L'url de votre page linkedin">
            <label>L'url de votre page linkedin</label>
            <div class="invalid-feedback">
              <small *ngIf="r['linkedin'].errors && r['linkedin'].touched" class="text-danger">{{handleGetErrorMessageFromChild('linkedin', r['linkedin'].errors)}}</small>
              Please choose a linkedin.
            </div>
          </div>

          <div class="col-12">
            <input type="file" class="form-control " accept="image/png, image/jpeg, image/svg">
          </div>

        </ng-container>

        <div class="col-12 form-floating">
          <div class="form-check">
            <input formControlName = "acceptTerms" class="form-check-input {{r['acceptTerms'].value === true ?'is-valid':'is-invalid'}} " type="checkbox" value=""  required>
            <label class="form-check-label">J'ai lu et approuvé les <a href="javascript:void (0);" class="text-decoration-none text-secondary" data-bs-toggle="modal" data-bs-target="#terms">termes</a></label>
            <div class="{{r['acceptTerms'].value === true ?'valid-feedback':'invalid-feedback'}} ">
              {{r['acceptTerms'].value === true ?'Looks good!':'Veuillez cocher cette case!'}}
            </div>
          </div>
        </div>


        <div class="text-center col-12">
          <button [disabled] = "!registerFormGroup.valid " class="btn btn-primary w-30 mb-xxl-2 mt-lg-1" type="submit">Inscription</button>
        </div>

        <span style="font-size: 17px">Déjà un compte ? | <a class="text-decoration-none" routerLink="/login"><span >Connectez vous</span></a></span>

      </form>

<!--      <div class="card-body ">
        <form [formGroup] = "registerFormGroup" (ngSubmit)="handleRegister()">


          <div class="mb-3">
            <label class="form-label "><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Type de compte</label>
            <select class="form-select " formControlName = "account" >
              <option value="talent">Talent</option>
              <option value="employer">Employeur</option>
              <option value="enterprise">Entreprise</option>
            </select>
            <small *ngIf="r['account'].errors && r['account'].touched" class="text-danger">{{handleGetErrorMessageFromChild('account', r['account'].errors)}}</small>

          </div>


          <div class="mb-3">
            <label class="form-label "><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Comment avez vous connu Bozahouse ?</label>
            <select class="form-select " formControlName = "howKnowUs">
              <option value="friend">Amis</option>
              <option value="facebook">Facebook</option>
              <option value="whatsapp">Whatsapp</option>
              <option value="linkedin">LinkedIn</option>
              <option value="youtube">Youtube</option>
              <option value="twitter">Twitter</option>
              <option value="other">Autre</option>
            </select>
            <small *ngIf="r['howKnowUs'].errors && r['howKnowUs'].touched" class="text-danger">{{handleGetErrorMessageFromChild('howKnowUs', r['howKnowUs'].errors)}}</small>

          </div>

          <div class="mb-3 mt-2">
            <label class="form-label "><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Nom</label>
            <input type="text" formControlName = "lastname" class="form-control ">
            <small *ngIf="r['lastname'].errors && r['lastname'].touched" class="text-danger">{{handleGetErrorMessageFromChild('lastname', r['lastname'].errors)}}</small>

          </div>

          <div class="mb-3 mt-2">
            <label class="form-label "><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Prénom</label>
            <input type="text" formControlName = "firstname" class="form-control ">
            <small *ngIf="r['firstname'].errors && r['firstname'].touched" class="text-danger">{{handleGetErrorMessageFromChild('firstname', r['firstname'].errors)}}</small>

          </div>

          <div class="mb-3 mt-2">
            <label class="form-label "><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Sexe</label>
            <select class="form-select " formControlName = "sex">
              <option value="" disabled>Choose...</option>
              <option value="Homme">Homme</option>
              <option value="Femme">Femme</option>
            </select>
            <small *ngIf="r['sex'].errors && r['sex'].touched" class="text-danger">{{handleGetErrorMessageFromChild('sex', r['sex'].errors)}}</small>

          </div>

          &lt;!&ndash;            <div class="mb-3">
                        <label class="form-label"><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Adresse email</label>
                        <input (keydown.space)="$event.preventDefault()" type="email" formControlName = "email" class="form-control bg-secondary" placeholder="ex : youremail@gmail.com">
                        <small *ngIf="r['email'].errors && r['email'].touched" class="text-danger">{{handleGetErrorMessageFromChild('email', r['email'].errors)}}</small>

                      </div>&ndash;&gt;

          <div class="mb-3">
            <label class="form-label "><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Adresse email</label>
            <input (keydown.space)="$event.preventDefault()" type="text" formControlName = "username" class="form-control ">
            <small *ngIf="r['username'].errors && r['username'].touched" class="text-danger">{{handleGetErrorMessageFromChild('username', r['username'].errors)}}</small>

          </div>

          <div class="mb-3 mt-2">
            <label class="form-label "><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Mot de passe</label>
            <input type="password" formControlName = "password" class="form-control " id="pwd1">
            <input type="checkbox" (change)="showAndHidePassword()" class="mt-2">&nbsp;<span  style="font-size: 10px;">cliquez ici pour voir</span>&nbsp;
            <small *ngIf="r['password'].errors && r['password'].touched" class="text-danger">{{handleGetErrorMessageFromChild('password', r['password'].errors)}}</small>
          </div>

          <div class="mb-3 mt-2">
            <label class="form-label "><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Confirmation du mot de passe</label>
            <input type="password" formControlName = "confirmPassword" class="form-control " id="confPwd1">
            <input type="checkbox" (change)="showAndHideConfirmPassword()" class="mt-2">&nbsp;<span style="font-size: 10px;">cliquez ici pour voir</span>&nbsp;
            <small *ngIf="r['confirmPassword'].errors && r['confirmPassword'].touched" class="text-danger">{{handleGetErrorMessageFromChild('confirmPassword', r['confirmPassword'].errors)}}</small>
            <small *ngIf="!passwordsMatch()" class="text-danger">Les mots de passe ne correspondent pas</small>
          </div>

          <div class="mb-3">
            <label class="form-label "><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Date d'anniversaire</label>
            <input type="date" formControlName = "birthday" class="form-control ">
            <small *ngIf="r['birthday'].errors && r['birthday'].touched" class="text-danger">{{handleGetErrorMessageFromChild('birthday', r['birthday'].errors)}}</small>

          </div>

          &lt;!&ndash;     <div class="mb-3">
                 <label class="form-label">Code de parrainage</label>
                 <input type="text" formControlName = "referralCode" class="form-control bg-secondary">
                 <small *ngIf="r['referralCode'].errors && r['referralCode'].touched" class="text-danger">{{handleGetErrorMessageFromChild('referralCode', r['referralCode'].errors)}}</small>
               </div>&ndash;&gt;

          <div class="mb-3 form-check ">
            <label class="form-label"><i style="font-size: 20px" class="text-danger">*&nbsp;</i>j'ai lu et approuvé les <a href="javascript:void (0);" class="hide-underline-link " data-bs-toggle="modal" data-bs-target="#terms">termes</a></label>&nbsp;
            <input type="checkbox" formControlName = "acceptTerms" class="form-check-input ">
            <small *ngIf="r['acceptTerms'].errors && r['acceptTerms'].touched" class="text-danger">{{handleGetErrorMessageFromChild('acceptTerms', r['acceptTerms'].errors)}}</small>

          </div>

          <span style="font-size: 17px">Déjà un compte ? | <a class="text-decoration-none" routerLink="/login"><span >Connectez vous</span></a></span>

          <div class="text-center ">
            <button [disabled] = "!registerFormGroup.valid " class="btn btn-primary w-30 mb-xxl-2 mt-lg-1" type="submit">Inscription</button>
          </div>

        </form>
        <span class=" text-center"> les champs marqués par <i class="text-danger">*</i> sont obligatoires</span>
      </div>-->
<!--    </div>-->
  </div>





<!-- Modal terms -->
<div class="modal fade " id="terms" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Politique de confidentielité</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <h5 >PROTECTION DES DONNEES</h5>
          <p >
            Cette politique de protection de données décrit la manière dont vos informations personnelles sont collectées et utilisées
            lorsque vous postez des annonces sur Bozahouse.
          </p>

          <h5 >COLLECTE DE DONNEES PERSONNELLES</h5>

          <p>
            Losque vous postez une annonce, nous collectons certaines informations, notamment votre nom,
            adresse électronique, numéro de télépone et l'url de vos réseaux sociaux.
            Nous utilisons ces informations pour permettre à votre cible d'entrer facilement en contact avec vous.
          </p>
          <p>
            Lorsque nous parlons d'informations personnelles, dans la présente politique de confidentialité, nous
            parlons d'informations sur les annonces et vos données personnelles.
          </p>

          <h5 > TRAITEMENT DE DONNEES PERSONNELLES</h5>

          <p>
            Nous utilisons les informations que nous collectons pour permettre à votre cible d'entrer facilement en contact avec vous.
          </p>


          <h5 >PARTAGE DE DONNEES PERSONNELLES</h5>
          <p>
            Nous partageons vos informations personnelles avec vos futurs employeurs si vous êtes à la recherche d'un emploi
            ou avec vos futurs employés si vous êtes à la recherche des talents.
          </p>

          <h5 >VOS DROITS</h5>
          <p>
            Vous avez le droit d'accéder aux informations personnelles que nous détenons à votre sujet et de demander que vos informations
            personnelles soient corrigées, mise à jour ou supprimer. Si vous souhaitez exercer ce droit, veuillez nous contacter via les
            coordonnées ci-dessous.
          </p>
          <h5 >DETENTION DES DONNEES</h5>

          <p>
            Lorsque vous vous inscrivez sur notre site, nous conservons vos informations jusqu'à ce que vous nous demandiez des les supprimer.
            Nous pouvons mettre à jour cette politique de confidentialité de temps à autre à fin d'ameliorer votre expérience sur Bozahouse.
          </p>
          <p>
            Pour plus d'informations sur nos pratiques de confidentialitées, si vous avez es questions ou si vous souhaitez
            déposer une plainte, veuillez nous contacter par courrier électronique à l'adresse support@bozahouse.com ou par téléphone au numéro +237656832062
          </p>
          <p>
            L’utilisateur est invité à prendre connaissance de cette Politique à chaque fois qu’il utilise nos services, sans qu’il soit nécessaire de l’en prévenir formellement.
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal help -->
<div class="modal fade " id="help" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel1">PAGE D'AIDE</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container ">
          <span >
        Lisez les instructions suivantes pour remplir correctement votre formulaire d'inscription, car cette étape est crutiale pour la suite de votre expérience.
      </span>

          <h5 class="mt-2">Type de compte</h5>

          <span > Ce champs comporte trois options parmi lesquelles : Talent, Employeur et Entreprise.</span>
          <ul>
            <li>Si vous êtes à la recherche d'un emploi, sélectionner Talent. </li>
            <li> Si vous rechercher un freelancer pour exécuter une tâche, sélectionner Employeur. </li>
            <li> Si vous êtes une entreprise et rechercher des talents (employés) et ou freelancer sélectionner Entreprise. </li>
          </ul>

          <h5 class="mt-2">Comment avez vous connu Bozahouse ?</h5>
          <span > Ici il est question pour vous de nous dire comment vous nous avez connu.</span>

          <h5 class="mt-2">Nom</h5>
          <span > Saisissez votre nom en respectant la consigne. Exemple : NOM ou Nom ou nom</span>

          <h5 class="mt-2">Prénom</h5>
          <span > Saisissez votre prénom en respectant la consigne. Exemple : PRENOM ou Prenom ou prenom</span>

          <h5 class="mt-2">Sexe</h5>
          <span > Si vous être un homme sélectionner homme et femme dans le cas contraire.</span>

          <h5 class="mt-2">Adresse email</h5>
          <span > Saississez une adresse email valide en respectant la consigne. Exemple : youremail@gmail.com</span>

          <h5 class="mt-2">Mot de passe</h5>
          <span > Saisissez un mot de passe en respectant la consigne. Exemple : PASSWORD ou Password ou password ou pwd123</span>

          <h5 class="mt-2">Date d'anniversaire</h5>
          <span > Cliquez sur ce champs et choisissez votre date d'anniversaire.</span>

          <h5 class="mt-2">Politique de confidentielité</h5>
          <span > Si vous êtes d'accord avec les termes de notre policique de confidentielité, cochez la case.</span>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
