
<footer class="footer mt-auto py-3 bg-dark text-white">
  <div class="container">
    <div class="row">


      <div class="card bg-dark col-md-12 mb-3">
        <h5>A propos du dev</h5>
        <p class="text-white-50">
          Je suis KENGNE KONGNE MAXIMILIEN, développeur full stack [ backend (Java Spring Boot), frontend (Angular 10+) ] à la recherche d'un emploi. Après avoir constaté
          que j'étais non éligible à la majorité des offres d'emploi qui me parvenait, à cause du nombre d'années d'exprérience exigée, j'ai trouvé
          judicieux de mettre en place cette plateforme pour montrer ce que vaut à peut près aux employeurs, afin qu'ils puissent me donner ma chance
          de travailler avec eux sans aucune expérience proffessionnelle précédente. Je suis d'origine Camerounaise
          et titulaire d'une licence professionnelle en conception et développement d'applications.
          Diplôme obtenu à l'Institut Universitaire Saint Jean
        </p>
      </div>



      <div class="card bg-dark col-md-12 mb-3">
        <h5>Donation</h5>
        <p class="text-white-50">Encouragez le développeur en faisant un don sur l'un de ces numéros.
          <span class="text-warning">+237 656 832 062</span> &nbsp; | &nbsp;&nbsp;<span class="text-warning">+237 680 248 700</span><br />
          Nom du destinataire &nbsp;---&nbsp; <span class="text-warning">KENGNE KONGNE MAXIMILIEN</span>&nbsp;---&nbsp;Laissez vous guider par l'élan de votre coeur, merci d'avance !
        </p>
      </div>

      <div class="card bg-dark col-md-12 mb-3">
        <h5>Astuces</h5>
        <p class="text-white-50">
          Selon le moyen de communication mis à votre disposition par l'employeuur,
          envoyez lui votre cv et attendez patiement qu'il vous réponde. Et si aucune réponse après deux semaines, mettez à jour votre cv et renvoyez.
        </p>
      </div>






<!--

      <div class="col-4 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Team</a></li>
          <li><a class="link-secondary" href="#">Locations</a></li>
          <li><a class="link-secondary" href="#">Privacy</a></li>
          <li><a class="link-secondary" href="#">Terms</a></li>
        </ul>
      </div>


      <div class="col-4 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-white" href="#">Team</a></li>
          <li><a class="link-secondary" href="#">Locations</a></li>
          <li><a class="link-secondary" href="#">Privacy</a></li>
          <li><a class="link-secondary" href="#">Terms</a></li>
        </ul>
      </div>

      <div class="col-4 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Team</a></li>
          <li><a class="link-secondary" href="#">Locations</a></li>
          <li><a class="link-secondary" href="#">Privacy</a></li>
          <li><a class="link-secondary" href="#">Terms</a></li>
        </ul>
      </div>
-->


    </div>
    <span class="text-muted">&nbsp;&copy;&nbsp;2023. BOZAHOUSE | Nous contacter | +237 656 83 20 62 | support@bozahouse.net</span>&nbsp;&nbsp;
    <span><a href="https://www.telegram.com/kkmprodd/" style="font-size: 22px;" class="text-light"><i class="bi bi-telegram"></i> </a></span>&nbsp;&nbsp;
    <span><a href="https://www.facebook.com/kkmprodd/" style="font-size: 22px;" class="text-light"><i class="bi bi-facebook"></i></a></span>&nbsp;&nbsp;
    <span><a href="mailto:maximiliendenver@gmail.com" style="font-size: 22px;" class="text-light"><i class="bi bi-envelope-fill"></i></a></span>&nbsp;&nbsp;
    <span><a href="https://www.twitter.com/kkmprodd/" style="font-size: 22px;" class="text-light"><i class="bi bi-twitter"></i></a></span>&nbsp;&nbsp;
    <span><a href="https://www.linkedin.com/kkmprodd/" style="font-size: 22px;" class="text-light"><i class="bi bi-linkedin"></i></a></span>
  </div>
</footer>


