
<footer class="footer mt-auto py-3 bg-dark text-white">
  <div class="container">
    <div class="row">

      <div class="col-6 col-md">
        <h5 class="text-danger">About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary hide-underline-link text-white-50" routerLinkActive="active" routerLink="/privacy">Terms</a></li>
          <li><a class="link-secondary hide-underline-link text-white-50" >{{version}}</a></li>
        </ul>
      </div>

      <div class="col-6 col-md">
        <h5 class="text-danger">Donation</h5>
        <p class="text-white-50">
          <span class=" text-white-50">OM & MOMO : </span> <br> <span class="text-white-50">+237656832062</span> <br> <span class="text-white-50">+237680248700</span>
       </p>
      </div>


      <div class="col-6 col-md">
        <h5 class="text-danger">Liens</h5>
        <ul class="list-unstyled text-small ">
          <li><a routerLink="/jobs" routerLinkActive="active"  class="hide-underline-link link-secondary text-white-50"> Jobs </a></li>
          <li><a routerLink="/talents" routerLinkActive="active"  class="hide-underline-link link-secondary text-white-50">Talents</a></li>
          <li><a routerLink="/testimonies"  routerLinkActive="active" class="hide-underline-link link-secondary text-white-50">Avis</a></li>
        </ul>
      </div>


      <div class="col-6 col-md">
        <h5 class="text-danger">Nous Suivre</h5>
        <ul class="list-unstyled text-small ">
          <!-- <li><a href="https://t.me/+AeTmiFVt0f1iYTM0" style="font-size: 22px;" class=" link-secondary text-white-50"><i class="bi bi-telegram"></i> </a>&nbsp;&nbsp;Telegram</li> -->
          <li><a href="https://www.facebook.com/bozahouse/" style="font-size: 22px;" class="link-secondary text-white-50"><i class="bi bi-facebook"></i></a>&nbsp;&nbsp;Facebook</li>
          <li><a href="https://www.linkedin.com/company/bozahouse/" style="font-size: 22px;" class="link-secondary text-white-50"><i class="bi bi-linkedin"></i></a>&nbsp;&nbsp;Linkedin</li>
        </ul>
      </div>

      <div class="col-6 col-md mb-3">
        <h5 class="text-danger">Contact</h5>
        <ul class="nav list-unstyled text-small ">
          <li><a [href]= "'mailto:'+ email" style="font-size: 22px;" class=" link-secondary text-white-50"><i class="bi bi-envelope-fill"></i> </a>&nbsp;&nbsp;</li>
          <li><a [href]="'tel:+237' + tel " style="font-size: 22px;" class="link-secondary text-white-50"><i class="bi bi-telephone-fill"></i></a>&nbsp;&nbsp;</li>
          <li><a href="https://wa.me/656832062" style="font-size: 22px;" class="link-secondary text-white-50"><i class="bi bi-whatsapp"></i></a>&nbsp;&nbsp;</li>
        </ul>
      </div>

      <div class="col-6 col-md mb-3">
        <h5 class="text-danger">Nos Groupes</h5>
        <ul class="list-unstyled text-small ">
          <li><a href="https://t.me/+AeTmiFVt0f1iYTM0" style="font-size: 22px;" class="link-secondary text-white-50"><i class="bi bi-telegram"></i></a>&nbsp;&nbsp;telegram</li>
          <li><a href="https://chat.whatsapp.com/GWznAcsJH0jKcaKWCeTZqt" style="font-size: 22px;" class="link-secondary text-white-50"><i class="bi bi-whatsapp"></i></a>&nbsp;&nbsp;whatsapp</li>
        </ul>
      </div>


<!--

      <div class="col-4 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Team</a></li>
          <li><a class="link-secondary" href="#">Locations</a></li>
          <li><a class="link-secondary" href="#">Privacy</a></li>
          <li><a class="link-secondary" href="#">Terms</a></li>
        </ul>
      </div>


      <div class="col-4 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-white" href="#">Team</a></li>
          <li><a class="link-secondary" href="#">Locations</a></li>
          <li><a class="link-secondary" href="#">Privacy</a></li>
          <li><a class="link-secondary" href="#">Terms</a></li>
        </ul>
      </div>

      <div class="col-4 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Team</a></li>
          <li><a class="link-secondary" href="#">Locations</a></li>
          <li><a class="link-secondary" href="#">Privacy</a></li>
          <li><a class="link-secondary" href="#">Terms</a></li>
        </ul>
      </div>
-->


    </div>
    <span class="text-white-50">&nbsp;&copy;&nbsp;2023. BOZAHOUSE </span>

  </div>
</footer>


