
<div class="container mt-lg-5 mb-lg-5">
  <div class="card mt-2 bg-dark">

    <div class="card-header text-warning text-center"> Mettre à jour cet utilisateur</div>
    <div class="card-body ">
      <form [formGroup] = "updateUserFormGroup" (ngSubmit)="handleUpdateUser()">


        <div class="mb-3">
          <label class="form-label text-warning"><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Type de compte</label>
          <select class="form-select bg-secondary" formControlName = "account" >
            <option value="talent">Talent</option>
            <option value="employer">Employeur</option>
            <option value="enterprise">Entreprise</option>
          </select>
          <small *ngIf="r['account'].errors && r['account'].touched" class="text-danger">{{handleGetErrorMessageFromChild('account', r['account'].errors)}}</small>

        </div>


        <div class="mb-3">
          <label class="form-label text-warning"><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Comment avez vous connu Bozahouse ?</label>
          <select class="form-select bg-secondary" formControlName = "howKnowUs">
            <option value="friend">Amis</option>
            <option value="facebook">Facebook</option>
            <option value="whatsapp">Whatsapp</option>
            <option value="linkedin">LinkedIn</option>
            <option value="youtube">Youtube</option>
            <option value="twitter">Twitter</option>
            <option value="other">Autre</option>
          </select>
          <small *ngIf="r['howKnowUs'].errors && r['howKnowUs'].touched" class="text-danger">{{handleGetErrorMessageFromChild('howKnowUs', r['howKnowUs'].errors)}}</small>

        </div>

        <div class="mb-3 mt-2">
          <label class="form-label text-warning"><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Nom</label>
          <input type="text" formControlName = "lastname" class="form-control bg-secondary">
          <small *ngIf="r['lastname'].errors && r['lastname'].touched" class="text-danger">{{handleGetErrorMessageFromChild('lastname', r['lastname'].errors)}}</small>

        </div>

        <div class="mb-3 mt-2">
          <label class="form-label text-warning"><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Prénom</label>
          <input type="text" formControlName = "firstname" class="form-control bg-secondary">
          <small *ngIf="r['firstname'].errors && r['firstname'].touched" class="text-danger">{{handleGetErrorMessageFromChild('firstname', r['firstname'].errors)}}</small>

        </div>

        <div class="mb-3 mt-2">
          <label class="form-label text-warning"><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Sexe</label>
          <select class="form-select bg-secondary" formControlName = "sex">
            <option value="" disabled>Choose...</option>
            <option value="Homme">Homme</option>
            <option value="Femme">Femme</option>
          </select>
          <small *ngIf="r['sex'].errors && r['sex'].touched" class="text-danger">{{handleGetErrorMessageFromChild('sex', r['sex'].errors)}}</small>

        </div>

        <!--            <div class="mb-3">
                      <label class="form-label"><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Adresse email</label>
                      <input (keydown.space)="$event.preventDefault()" type="email" formControlName = "email" class="form-control bg-secondary" placeholder="ex : youremail@gmail.com">
                      <small *ngIf="r['email'].errors && r['email'].touched" class="text-danger">{{handleGetErrorMessageFromChild('email', r['email'].errors)}}</small>

                    </div>-->

        <div class="mb-3">
          <label class="form-label text-warning"><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Adresse email</label>
          <input (keydown.space)="$event.preventDefault()" type="text" formControlName = "username" class="form-control bg-secondary">
          <small *ngIf="r['username'].errors && r['username'].touched" class="text-danger">{{handleGetErrorMessageFromChild('username', r['username'].errors)}}</small>

        </div>

        <div class="mb-3 mt-2">
          <label class="form-label text-warning"><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Mot de passe</label>
          <input type="password" formControlName = "password" class="form-control bg-secondary" id="pwd">
          <input type="checkbox" (change)="showAndHidePassword()" class="mt-2">&nbsp;<span class="text-warning" style="font-size: 10px;">cliquez ici pour voir</span>&nbsp;
          <small *ngIf="r['password'].errors && r['password'].touched" class="text-danger">{{handleGetErrorMessageFromChild('password', r['password'].errors)}}</small>
        </div>

        <div class="mb-3 mt-2">
          <label class="form-label text-warning"><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Confirmation du mot de passe</label>
          <input type="password" formControlName = "confirmPassword" class="form-control bg-secondary" id="confPwd">
          <input type="checkbox" (change)="showAndHideConfirmPassword()" class="mt-2">&nbsp;<span class="text-warning" style="font-size: 10px;">cliquez ici pour voir</span>&nbsp;
          <small *ngIf="r['confirmPassword'].errors && r['confirmPassword'].touched" class="text-danger">{{handleGetErrorMessageFromChild('confirmPassword', r['confirmPassword'].errors)}}</small>
          <small *ngIf="!passwordsMatch()" class="text-danger">Les mots de passe ne correspondent pas</small>
        </div>

        <div class="mb-3">
          <label class="form-label text-warning"><i style="font-size: 20px" class="text-danger">*&nbsp;</i>Date d'anniversaire</label>
          <input type="date" formControlName = "birthday" class="form-control bg-secondary">
          <small *ngIf="r['birthday'].errors && r['birthday'].touched" class="text-danger">{{handleGetErrorMessageFromChild('birthday', r['birthday'].errors)}}</small>

        </div>

        <!--     <div class="mb-3">
               <label class="form-label">Code de parrainage</label>
               <input type="text" formControlName = "referralCode" class="form-control bg-secondary">
               <small *ngIf="r['referralCode'].errors && r['referralCode'].touched" class="text-danger">{{handleGetErrorMessageFromChild('referralCode', r['referralCode'].errors)}}</small>
             </div>-->

        <div class="mb-3 form-check text-light">
          <label class="form-label"><i style="font-size: 20px" class="text-danger">*&nbsp;</i>j'ai lu et approuvé les <a class="hide-underline-link text-warning" routerLink="/privacyOut">termes</a></label>&nbsp;
          <input type="checkbox" formControlName = "acceptTerms" class="form-check-input bg-secondary">
          <small *ngIf="r['acceptTerms'].errors && r['acceptTerms'].touched" class="text-danger">{{handleGetErrorMessageFromChild('acceptTerms', r['acceptTerms'].errors)}}</small>

        </div>

        <span class="text-secondary" style="font-size: 17px">Déjà un compte ? | <a class="hide-underline-link" routerLink="/login"><span class="text-warning">Connectez vous</span></a></span>

        <div class="text-center text-white">
          <button [disabled] = "!updateUserFormGroup.valid " class="btn btn-warning w-30 mb-xxl-2 mt-lg-1" type="submit">Inscription</button>
        </div>

      </form>
      <span class="text-light text-center"> les champs marqués par <i class="text-danger">*</i> sont obligatoires</span>
    </div>
  </div>

</div>

<div class="spacer-left mb-3 mt-3"><a class="btn btn-dark text-warning" routerLink="/users">Retour</a> </div>



