
<div class="container spacer  ">

  <div class="card bg-secondary border-0">

    <h5 class="spacer-left spacer-top " style=" font-size: 30px; border-bottom-width: 1px; border-bottom-style: solid">Nos trois dernières offres</h5>

    <div class="row">

<ng-container>
      <ng-container *ngIf="threeOffers | async as listOffer; else failureOrLoading">
      <div  *ngFor="let offer of threeOffers | async"  class="col-md-4 ">
        <div class="card spacer-margin bg-dark">

          <div *ngIf="isAdmin" class="card-header">


<!--            <a (click)="handleDetailOffer(offer.id)" class="btn btn-secondary">
              <i class="bi bi-eye"></i>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;

            <a routerLink="/addEntOffer" class="btn btn-primary">
              <i class="bi bi-plus-circle"></i>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;-->

            <a (click)="handleDisableOffer(offer)" class="btn btn-outline-secondary">
              <i class="bi bi-arrow-down"></i>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;

            <a (click)="handleUpdateOffer(offer.id)" class="btn btn-warning">
              <i class="bi bi-pencil"></i>
            </a> &nbsp;&nbsp;&nbsp;&nbsp;

            <a (click)="handleDeleteOffer(offer)" class="btn btn-danger">
              <i class="bi bi-trash"></i>
            </a>

          </div>
          <div class="card-body text-center" >
            <span class="text-warning" style="font-size: 35px;">{{offer.title}}</span><br>
            <span class="text-light" *ngIf="offer.type=='particular' else ent">Auteur : [ Particulier ]</span><br>
            <ng-template #ent>
              <span class="text-light0">Auteur : [ Entreprise ]</span>
            </ng-template>
            <span class="text-white-50" style="font-size: 15px"><i class="bi bi-geo-alt-fill" style="font-size: 20px;"></i> {{offer.address}}</span><br />
            <span class="text-white-50" style=" font-size: 15px"><i class="bi bi-book-fill">&nbsp;</i>{{offer.contract}}</span> &nbsp;&nbsp;

            <ng-container *ngIf="offer.workMode == 'Sur site'">
              <span class="text-muted" style="font-size: 15px" ><i class="bi bi-house-fill"></i> {{offer.workMode}} </span><br />
            </ng-container>

            <ng-container *ngIf="offer.workMode == 'A distance'">
              <span class="text-muted" style="font-size: 15px" ><i class="bi bi-wifi"></i> {{offer.workMode}} </span><br />
            </ng-container>


            <span *ngIf="offer.salary == ''; else other">
        <span style="color: #bb2d3b; font-size: 20px"> Salaire à définir avec l'employeur </span><br />
      </span>

            <ng-template #other>
              <span style="color: #bb2d3b; font-size: 20px"> {{offer.salary | number: '1.0-0'}} FCFA</span><br />
            </ng-template>


            <div class="text-muted">
              <span ><i class="bi bi-calendar"></i>&nbsp;<span>{{offer.publishedAt | date : 'd MMM y'}}</span></span>&nbsp;-- <span ><i class="bi bi-lock-fill"></i> <span>{{offer.endOffer | date : 'd MMM y'}}</span></span>
            </div><br>

            <ng-container>

                <span><a (click)="handleDetailOffer(offer.id)" class="btn btn-warning rounded-pill">Voir l'offre</a></span><br>

            </ng-container>

          </div>
<!--          <span class="text-muted card-footer btn" style=" font-size: 18px" (click)="shared()">partager &nbsp;<i class="bi bi-share-fill"></i></span>-->

        </div>
      </div>
      </ng-container>
      <ng-template #failureOrLoading>
        <ng-container *ngIf="errorOfferMessage; else loading">
          <div class="text-warning text-center spacer-margin">
            <span>Oups ! pas de données pour le moment</span>
          </div>
        </ng-container>

        <ng-template #loading>

          <div class="d-flex justify-content-center spacer-margin" >
            <div class=" spinner-border text-warning" style="width: 3rem; height: 3rem;" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </ng-template>

      </ng-template>
      </ng-container>
    </div>


  </div >


</div>


<div class="container spacer  ">

  <div class="card bg-secondary border-0">

    <h5 class="spacer-left spacer-top " style=" font-size: 30px; border-bottom-width: 1px; border-bottom-style: solid">Nos trois derniers talents</h5>

    <div class="row">

      <ng-container>
        <ng-container *ngIf="threeTalents | async as listTalent; else failureOrLoading">
      <div  *ngFor="let talent of threeTalents | async"  class="col-md-4 ">
        <div class="card  spacer-margin bg-dark">

          <div *ngIf="isAdmin" class="card-header">


 <!--           <a (click)="handleDetailTalent(talent.id)" class="btn btn-secondary">
              <i class="bi bi-eye"></i>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;

            <a routerLink="/addTalent" class="btn btn-primary">
              <i class="bi bi-plus-circle"></i>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;-->

            <a (click)="handleDisableTalent(talent)" class="btn btn-outline-secondary">
              <i class="bi bi-arrow-down"></i>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;

            <a (click)="handleUpdateTalent(talent.id)" class="btn btn-warning">
              <i class="bi bi-pencil"></i>
            </a> &nbsp;&nbsp;&nbsp;&nbsp;

            <a (click)="handleDeleteTalent(talent)" class="btn btn-danger">
              <i class="bi bi-trash"></i>
            </a>


          </div>
          <div class="card-body text-center" >
            <span class="text-warning" style="font-size: 35px; ">{{talent.firstname}}</span><br>
            <span class="text-light">[ {{talent.title}} ]</span><br>
            <span class="text-white-50" style=" font-size: 15px"><i class="bi bi-geo-alt-fill" style="font-size: 20px;"></i> {{talent.address}}</span><br />
            <span class="text-white-50" style=" font-size: 15px"><i class="bi bi-person">&nbsp;</i>{{talent.sex}}</span> &nbsp;&nbsp; <span class="text-white-50" style=" font-size: 15px" ><i class="bi bi-hourglass-split"></i> {{talent.experience}} </span><br />


            <span *ngIf="talent.salary==''; else other">
        <span style="color: #bb2d3b; font-size: 20px"> Salaire à définir avec l'employeur </span><br />
      </span>

            <ng-template #other>
              <span *ngIf="talent.salary" style="color: #bb2d3b; font-size: 20px"> {{talent.salary | number: '1.0-0'}} FCFA</span><br />
            </ng-template>


            <div class="text-muted">
              <span class="text-secondary" ><i class="bi bi-book-fill"></i>&nbsp;<span>{{talent.contract}}</span></span>
            </div><br>

            <ng-container>

                <span><a (click)="handleDetailTalent(talent.id)" class="btn btn-warning rounded-pill">Voir plus</a></span><br>

            </ng-container>

          </div>
<!--          <span class="text-muted card-footer btn" style=" font-size: 18px" (click)="shared()">partager &nbsp;<i class="bi bi-share-fill"></i></span>-->

        </div>
      </div>
      </ng-container>
      <ng-template #failureOrLoading>
        <ng-container *ngIf="errorTalentMessage; else loading">
          <div class="text-warning text-center spacer-margin">
            <span>Oups ! pas de données pour le moment</span>
          </div>
        </ng-container>

        <ng-template #loading>

          <div class="d-flex justify-content-center spacer-margin" >
            <div class=" spinner-border text-warning" style="width: 3rem; height: 3rem;" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </ng-template>

      </ng-template>
      </ng-container>
    </div>


  </div >


</div>


<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#advise" data-bs-whatever="@mdo">Open modal for @mdo</button>

<div class="modal fade" id="advise" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Un nouvel avis</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary">Envoyer</button>
      </div>
    </div>
  </div>
</div>



