
<!--<div class="container spacer  ">

  <div class="card bg-secondary border-0">

    <h5 class="spacer-left spacer-top " style=" font-size: 30px; border-bottom-width: 1px; border-bottom-style: solid">Nos trois dernières offres</h5>

    <div class="row">

<ng-container>
      <ng-container *ngIf="threeOffers | async as listOffer; else failureOrLoading">
      <div  *ngFor="let offer of threeOffers | async"  class="col-md-4 ">
        <div class="card spacer-margin bg-dark">

          <div *ngIf="isAdmin" class="card-header">


&lt;!&ndash;            <a (click)="handleDetailOffer(offer.id)" class="btn btn-secondary">
              <i class="bi bi-eye"></i>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;

            <a routerLink="/addEntOffer" class="btn btn-primary">
              <i class="bi bi-plus-circle"></i>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&ndash;&gt;

            <a (click)="handleDisableOffer(offer)" class="btn btn-outline-secondary">
              <i class="bi bi-arrow-down"></i>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;

            <a (click)="handleUpdateOffer(offer.id)" class="btn btn-warning">
              <i class="bi bi-pencil"></i>
            </a> &nbsp;&nbsp;&nbsp;&nbsp;

            <a (click)="handleDeleteOffer(offer)" class="btn btn-danger">
              <i class="bi bi-trash"></i>
            </a>

          </div>
          <div class="card-body text-center" >
            <span class="text-warning" style="font-size: 35px;">{{offer.title}}</span><br>
            <span class="text-light" *ngIf="offer.type=='particular' else ent">Auteur : [ Particulier ]</span><br>
            <ng-template #ent>
              <span class="text-light0">Auteur : [ Entreprise ]</span>
            </ng-template>
            <span class="text-white-50" style="font-size: 15px"><i class="bi bi-geo-alt-fill" style="font-size: 20px;"></i> {{offer.address}}</span><br />
            <span class="text-white-50" style=" font-size: 15px"><i class="bi bi-book-fill">&nbsp;</i>{{offer.contract}}</span> &nbsp;&nbsp;

            <ng-container *ngIf="offer.workMode == 'Sur site'">
              <span class="text-muted" style="font-size: 15px" ><i class="bi bi-house-fill"></i> {{offer.workMode}} </span><br />
            </ng-container>

            <ng-container *ngIf="offer.workMode == 'A distance'">
              <span class="text-muted" style="font-size: 15px" ><i class="bi bi-wifi"></i> {{offer.workMode}} </span><br />
            </ng-container>


            <span *ngIf="offer.salary == ''; else other">
        <span style="color: #bb2d3b; font-size: 20px"> Salaire à définir avec l'employeur </span><br />
      </span>

            <ng-template #other>
              <span style="color: #bb2d3b; font-size: 20px"> {{offer.salary | number: '1.0-0'}} FCFA</span><br />
            </ng-template>


            <div class="text-muted">
              <span ><i class="bi bi-calendar"></i>&nbsp;<span>{{offer.publishedAt | date : 'd MMM y'}}</span></span>&nbsp;&#45;&#45; <span ><i class="bi bi-lock-fill"></i> <span>{{offer.endOffer | date : 'd MMM y'}}</span></span>
            </div><br>

            <ng-container>

                <span><a (click)="handleDetailOffer(offer.id)" class="btn btn-warning rounded-pill">Voir l'offre</a></span><br>

            </ng-container>

          </div>
&lt;!&ndash;          <span class="text-muted card-footer btn" style=" font-size: 18px" (click)="shared()">partager &nbsp;<i class="bi bi-share-fill"></i></span>&ndash;&gt;

        </div>
      </div>
      </ng-container>
      <ng-template #failureOrLoading>
        <ng-container *ngIf="errorOfferMessage; else loading">
          <div class="text-warning text-center spacer-margin">
            <span>Oups ! pas de données pour le moment</span>
          </div>
        </ng-container>

        <ng-template #loading>

          <div class="d-flex justify-content-center spacer-margin" >
            <div class=" spinner-border text-warning" style="width: 3rem; height: 3rem;" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </ng-template>

      </ng-template>
      </ng-container>
    </div>


  </div >


</div>


<div class="container spacer  ">

  <div class="card bg-secondary border-0">

    <h5 class="spacer-left spacer-top " style=" font-size: 30px; border-bottom-width: 1px; border-bottom-style: solid">Nos trois derniers talents</h5>

    <div class="row">

      <ng-container>
        <ng-container *ngIf="threeTalents | async as listTalent; else failureOrLoading">
      <div  *ngFor="let talent of threeTalents | async"  class="col-md-4 ">
        <div class="card  spacer-margin bg-dark">

          <div *ngIf="isAdmin" class="card-header">


 &lt;!&ndash;           <a (click)="handleDetailTalent(talent.id)" class="btn btn-secondary">
              <i class="bi bi-eye"></i>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;

            <a routerLink="/addTalent" class="btn btn-primary">
              <i class="bi bi-plus-circle"></i>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&ndash;&gt;

            <a (click)="handleDisableTalent(talent)" class="btn btn-outline-secondary">
              <i class="bi bi-arrow-down"></i>
            </a>&nbsp;&nbsp;&nbsp;&nbsp;

            <a (click)="handleUpdateTalent(talent.id)" class="btn btn-warning">
              <i class="bi bi-pencil"></i>
            </a> &nbsp;&nbsp;&nbsp;&nbsp;

            <a (click)="handleDeleteTalent(talent)" class="btn btn-danger">
              <i class="bi bi-trash"></i>
            </a>


          </div>
          <div class="card-body text-center" >
            <span class="text-warning" style="font-size: 35px; ">{{talent.firstname}}</span><br>
            <span class="text-light">[ {{talent.title}} ]</span><br>
            <span class="text-white-50" style=" font-size: 15px"><i class="bi bi-geo-alt-fill" style="font-size: 20px;"></i> {{talent.address}}</span><br />
            <span class="text-white-50" style=" font-size: 15px"><i class="bi bi-person">&nbsp;</i>{{talent.sex}}</span> &nbsp;&nbsp; <span class="text-white-50" style=" font-size: 15px" ><i class="bi bi-hourglass-split"></i> {{talent.experience}} </span><br />


            <span *ngIf="talent.salary==''; else other">
        <span style="color: #bb2d3b; font-size: 20px"> Salaire à définir avec l'employeur </span><br />
      </span>

            <ng-template #other>
              <span *ngIf="talent.salary" style="color: #bb2d3b; font-size: 20px"> {{talent.salary | number: '1.0-0'}} FCFA</span><br />
            </ng-template>


            <div class="text-muted">
              <span class="text-secondary" ><i class="bi bi-book-fill"></i>&nbsp;<span>{{talent.contract}}</span></span>
            </div><br>

            <ng-container>

                <span><a (click)="handleDetailTalent(talent.id)" class="btn btn-warning rounded-pill">Voir plus</a></span><br>

            </ng-container>

          </div>
&lt;!&ndash;          <span class="text-muted card-footer btn" style=" font-size: 18px" (click)="shared()">partager &nbsp;<i class="bi bi-share-fill"></i></span>&ndash;&gt;

        </div>
      </div>
      </ng-container>
      <ng-template #failureOrLoading>
        <ng-container *ngIf="errorTalentMessage; else loading">
          <div class="text-warning text-center spacer-margin">
            <span>Oups ! pas de données pour le moment</span>
          </div>
        </ng-container>

        <ng-template #loading>

          <div class="d-flex justify-content-center spacer-margin" >
            <div class=" spinner-border text-warning" style="width: 3rem; height: 3rem;" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </ng-template>

      </ng-template>
      </ng-container>
    </div>


  </div >


</div>-->


<!--<app-carousel></app-carousel>-->


<main class="mt-lg-5">
  <h1 class="visually-hidden">Features examples</h1>

  <div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Nos offres récentes</h2>

    <div class="row row-cols-1 row-cols-lg-4 align-items-stretch g-4 py-5">
      <div class="col">
        <div class="card border-success mb-3" style="max-width: 18rem;">
          <div class="card-header bg-transparent border-success">


            <div class="dropdown">
              <a href="javascript:void (0);" class="d-flex align-items-center text-decoration-none text-secondary" data-bs-toggle="dropdown" aria-expanded="false">

                <h1 class=" me-5" >[Entreprise]</h1>
                <strong ><i class="bi bi-three-dots-vertical"></i></strong>
              </a>
              <ul class="dropdown-menu  text-small shadow">
                <li><a class="dropdown-item" href="#">Consulter</a></li>
                <li><a class="dropdown-item" href="#">Signaler</a></li>

                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Activer</a></li>
                <li><a class="dropdown-item" href="#">Désactiver</a></li>
                <li><a class="dropdown-item" href="#">Modifier</a></li>
                <li><a class="dropdown-item" href="#">Supprimer</a></li>


              </ul>
            </div>


          </div>
          <div class="card-body text-success">
            <h5 class="card-title">Success card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="card-footer bg-transparent border-success">
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="assets/icons/bozahouse.svg" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <i class="bi me-2 bi-geo"></i>
                <small>California</small>
              </li>
              <li class="d-flex align-items-center">
                <i class="bi me-2 bi-calendar-check"></i>
                <small>5d</small>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card border-success mb-3" style="max-width: 18rem;">
          <div class="card-header bg-transparent border-success">Header</div>
          <div class="card-body text-success">
            <h5 class="card-title">Success card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="card-footer bg-transparent border-success">
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="assets/icons/bozahouse.svg" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <i class="bi me-2 bi-geo"></i>
                <small>California</small>
              </li>
              <li class="d-flex align-items-center">
                <i class="bi me-2 bi-calendar-check"></i>
                <small>5d</small>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card border-success mb-3" style="max-width: 18rem;">
          <div class="card-header bg-transparent border-success">Header</div>
          <div class="card-body text-success">
            <h5 class="card-title">Success card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="card-footer bg-transparent border-success">
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="assets/icons/bozahouse.svg" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                Experience
              </li>
              <li class="d-flex align-items-center me-3">
                <i class="bi me-2 bi-geo"></i>
                <small>California</small>
              </li>
              <li class="d-flex align-items-center">
                <i class="bi me-2 bi-calendar-check"></i>
                <small>5d</small>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card border-success mb-3" style="max-width: 18rem;">
          <div class="card-header bg-transparent border-success">Header</div>
          <div class="card-body text-success">
            <h5 class="card-title">Success card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="card-footer bg-transparent border-success">
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="assets/icons/bozahouse.svg" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <i class="bi me-2 bi-geo"></i>
                <small>California</small>
              </li>
              <li class="d-flex align-items-center">
                <i class="bi me-2 bi-calendar-check"></i>
                <small>5d</small>
              </li>
            </ul>
          </div>
        </div>
      </div>


    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="container px-4 py-5" id="talents">
    <h2 class="pb-2 border-bottom">Nos talents récents</h2>

    <div class="row row-cols-1 row-cols-lg-4 align-items-stretch g-4 py-5">
      <div class="col">
        <div class="card border-success mb-3" style="max-width: 18rem;">
          <div class="card-header bg-transparent border-success">Header</div>
          <div class="card-body text-success">
            <h5 class="card-title">Success card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="card-footer bg-transparent border-success">
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="assets/icons/bozahouse.svg" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <i class="bi me-2 bi-geo"></i>
                <small>California</small>
              </li>
              <li class="d-flex align-items-center">
                <i class="bi me-2 bi-calendar-check"></i>
                <small>5d</small>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card border-success mb-3" style="max-width: 18rem;">
          <div class="card-header bg-transparent border-success">Header</div>
          <div class="card-body text-success">
            <h5 class="card-title">Success card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="card-footer bg-transparent border-success">
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="assets/icons/bozahouse.svg" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <i class="bi me-2 bi-geo"></i>
                <small>California</small>
              </li>
              <li class="d-flex align-items-center">
                <i class="bi me-2 bi-calendar-check"></i>
                <small>5d</small>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card border-success mb-3" style="max-width: 18rem;">
          <div class="card-header bg-transparent border-success">Header</div>
          <div class="card-body text-success">
            <h5 class="card-title">Success card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="card-footer bg-transparent border-success">
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="assets/icons/bozahouse.svg" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <i class="bi me-2 bi-geo"></i>
                <small>California</small>
              </li>
              <li class="d-flex align-items-center">
                <i class="bi me-2 bi-calendar-check"></i>
                <small>5d</small>
              </li>
            </ul>
          </div>
        </div>
      </div>


      <div class="col">
        <div class="card border-success mb-3" style="max-width: 18rem;">
          <div class="card-header bg-transparent border-success">Header</div>
          <div class="card-body text-success">
            <h5 class="card-title">Success card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="card-footer bg-transparent border-success">
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="assets/icons/bozahouse.svg" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <i class="bi me-2 bi-geo"></i>
                <small>California</small>
              </li>
              <li class="d-flex align-items-center">
                <i class="bi me-2 bi-calendar-check"></i>
                <small>5d</small>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="b-example-divider"> </div>

  <div class="container px-4 py-5" id="testimonies">
    <h2 class="pb-2 border-bottom">Les avis   <button style="position: relative; left: 900px;" type="button" class="btn btn-success " data-bs-toggle="modal" data-bs-target="#advise" >Rédiger un avis</button> </h2>

    <div class="row row-cols-1 row-cols-lg-4 align-items-stretch g-4 py-5">
      <div class="col">
        <div class="card border-success mb-3" style="max-width: 18rem;">
          <div class="card-header bg-transparent border-success">Maximilien</div>
          <div class="card-body text-success">
            <h5 class="card-title">Sujet :  Les offres</h5>
            <p class="card-text">Je trouve que les offres sur ce site sont supper intéressantes. Je vous le recommande vivement, car c'est ici que j'ai décroché mon premier emploi. Merci à toute l'équipe Bozahouse</p>
          </div>
          <div class="card-footer bg-transparent border-success"> Jeudi 11 Avril 2024 à 09:25</div>
        </div>
      </div>

      <div class="col">
        <div class="card border-success mb-3" style="max-width: 18rem;">
          <div class="card-header bg-transparent border-success">Header</div>
          <div class="card-body text-success">
            <h5 class="card-title">Success card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="card-footer bg-transparent border-success">Footer</div>
        </div>
      </div>

      <div class="col">
        <div class="card border-success mb-3" style="max-width: 18rem;">
          <div class="card-header bg-transparent border-success">Header</div>
          <div class="card-body text-success">
            <h5 class="card-title">Success card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="card-footer bg-transparent border-success">Footer</div>
        </div>
      </div>

      <div class="col">
        <div class="card border-success mb-3" style="max-width: 18rem;">
          <div class="card-header bg-transparent border-success">Header</div>
          <div class="card-body text-success">
            <h5 class="card-title">Success card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="card-footer bg-transparent border-success">Footer</div>
        </div>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>


</main>




<div class="modal fade" id="advise" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Les avis sont publiques</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Sujet:</label>
            <select id="recipient-name" class="form-select" aria-label="Default select example">
              <option selected>Choisissez une option</option>
              <option value="1">le site</option>
              <option value="2">les offres</option>
              <option value="3">les talents</option>
              <option value="3">Autre</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text" placeholder="Décrivez votre expérience"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary">Envoyer</button>
      </div>
    </div>
  </div>
</div>



