<!-- ---------------------- Modal error ------------------------- -->
<div class="modal fade" id="modalError" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <div class="modal-body text-center p-3">
          <br>
           <img src="assets/icons/error-modal.svg " width="60%" alt="">
          <br>
          <br>
          <p class="h3 font-weight-bold">Oups !</p>
          <p class="h5 p-3">{{errorMessageChild}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark btn-block" (click)="closeModale()">Ok &emsp; <i class="fa fa-chevron-right"></i></button>
        </div>
      </div>

    </div>
  </div>
</div>


