<html class="bg-secondary">
<body class="bg-secondary">

<app-header></app-header>

<div class="container  mt-lg-5 mb-lg-5 ">

  <div class="spacer-margin" *ngIf="searchFormGroup">
    <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchNews()">
      <div class="input-group">
        <input type="text" formControlName = "keyword" class="form-control" placeholder="do your search...">
        <button class="btn btn-warning"><i class="bi bi-search"></i> </button>
      </div>
    </form>
  </div>

  <ng-container *ngIf="newsData | async as listEmail; else failureOrLoading">
    <div class="card col-md-12 bg-secondary">

      <div *ngIf="isAdmin" class="text-center mt-3" >
      <span  style="font-size: 20px;">
      <a routerLink="/addNews" class="hide-underline-link btn btn-dark text-warning">
      <i class="bi bi-plus "></i> créer un email
      </a>
    </span>
      </div>

      <div class="card-body">

        <div class="row">
          <div  *ngFor="let email2 of newsData | async" class="col-md-4" >

            <div class="card  spacer-margin bg-dark">

              <!--             <h5 *ngIf="isAdmin" class="card-header">
                             <a (click)="handleDetailSubscription(user.id)" class="btn btn-secondary">
                               <i class="bi bi-eye"></i>
                             </a>
                           </h5>-->
              <div class="card-body text-center" >

                <h5 class="text-white" style="font-size: 25px">{{email2.createdAt | date: 'd MMM yyyy'}}</h5><br>

                <span class="text-success" style="font-size: 25px">{{email2.subject}}</span><br>

                <p class="card-text text-white" style="font-size: 25px">{{email2.frenchContent}}</p>

                <span class="text-white" style="font-size: 25px"> <i class="bi bi-telegram"></i> {{email2.sendingDate | date: 'd MMM yyyy'}}</span><br><br>

                <span class="text-center">
                  <a (click)="handleDetailNews(email2.id)" class="btn btn-warning">Détails </a> &nbsp;
                  <a (click)="handleUpdateNews(email2.id)" class="btn btn-info"><i class="bi bi-pencil"></i></a> &nbsp;

                  <a (click)="handleDeleteNews(email2)" class="btn btn-danger"><i class="bi bi-trash"></i></a> </span>

              </div>

            </div>
          </div>
        </div>

        <ul class=" nav nav-pills spacer-left">
          <ng-container *ngIf="currentPage > 0">
            <li >
              <a class="page-link btn ms-1" (click)="goToPage(currentPage - 1)" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
          </ng-container>

          <!-- "[A-Za-z0-9.%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{3,4}" -->

          <li *ngFor="let item of [].constructor(totalPages); let page = index" >
            <a [ngClass]="page==currentPage?'btn-warning':'btn-outline-warning'" (click)="goToPage(page)" class="btn ms-1"  >{{page}}</a>
          </li>
          <ng-container *ngIf="currentPage < totalPages - 1">
            <li >
              <a class="page-link btn ms-1" (click)="goToPage(currentPage + 1)" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ng-container>

        </ul>


      </div>




    </div>
  </ng-container>

  <ng-template #failureOrLoading>
    <ng-container *ngIf="errorMessage; else loading">
      <div class="text-danger">
       <span class="text-warning">Oups, une erreur est survenue !</span>
      </div>
    </ng-container>

    <ng-template #loading>

      <div class="d-flex justify-content-center spacer-margin" >
        <div class=" spinner-border text-warning" style="width: 3rem; height: 3rem;" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </ng-template>

  </ng-template>

</div>

<app-footer></app-footer>

</body>
</html>
