<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">BOZAHOUSE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li  class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/admin">Statistic</a></li>


<!--

    <li class="nav-item"><a routerLink="/listCountry" routerLinkActive="active" class="nav-link">Countries</a></li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Users
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/addRole" >create role</a></li>
            <li><a class="dropdown-item" routerLink="/listRole" >List roles</a></li>
            <li><a class="dropdown-item" routerLink="/addUser" >create user</a></li>
            <li><a class="dropdown-item" routerLink="/listUser" >List users</a></li>
          </ul>
        </li>-->
        <li class="nav-item"><a routerLink="/users" routerLinkActive="active" class="nav-link">Users</a></li>

        <li  class="nav-item"><a routerLink="/listNews" routerLinkActive="active" class="nav-link">Email</a></li>

        <li class="nav-item"><a routerLink="/listSubscription" routerLinkActive="active" class="nav-link">Abonnements</a></li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Disabled
          </a>
          <ul class="dropdown-menu bg-secondary text-dark" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item bg-secondary" routerLink="/usersDisabled" >users</a></li>
            <li><a class="dropdown-item bg-secondary" routerLink="/offersDisabled" >offers</a></li>
            <li><a class="dropdown-item bg-secondary" routerLink="/talentsDisabled" >talents</a></li>
          </ul>
        </li>

      </ul>

      <ul class="navbar-nav d-flex">

        <li  class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/home"><i class="bi bi-eye-fill"></i> </a></li>

        <li class="nav-item" style="margin-right: 40px;"><a routerLink="/account" routerLinkActive="active" class="nav-link">{{"username"}}</a></li>

        <li class="nav-item" style="margin-right: 30px"><a routerLink="/login" (click)="logout()"  class="nav-link"><i class="bi bi-box-arrow-right"></i> Logout</a></li>
      </ul>

    </div>

  </div>

</nav>

