

<main class="mt-lg-5">
  <h1 class="visually-hidden">Features examples</h1>


  <div class=" mt-5">

    <div class="container ">
      <h5 class="text-center  spacer">Filtrer les offres</h5>

      <form [formGroup] = "offerFormGroup" (ngSubmit)="handleFilterOffers()"  class="row g-3">

        <div class="col-md-4 form-floating">
          <input  formControlName = "title" type="text" class="form-control"  >
          <label class="form-label">Profession</label>
        </div>

        <div class="col-md-4 form-floating">
          <input formControlName = "domain" type="text" class="form-control" >
          <label class="form-label">Domaine</label>
        </div>


        <div class="form-floating col-md-4">
          <input placeholder="séparez les compétences par une virgule. example : java, angular, css"  class="form-control " formControlName="skills" type="text" >
          <label> Compétences</label>
        </div>


        <div class="col-md-4 form-floating">
          <select class="form-select " formControlName = "workMode"   >
            <option selected disabled value="">Choisir une option</option>
            <option value="Sur site">Sur site</option>
            <option value="A distance">A distance</option>
            <option value="Hybride">Hybride</option>
          </select>
          <label>Mode de travail</label>
        </div>


        <div class="col-md-4 form-floating">
          <select class="form-select " formControlName = "experience"   >
            <option selected disabled value="">Choisir une option</option>
            <option value="Premier emploi">Premier emploi</option>
            <option value="1-2 ans">1-2 ans</option>
            <option value="3-5 ans">3-5 ans</option>
            <option value="6-10 ans">6-10 ans</option>
            <option value="11-20 ans">11-20 ans</option>
            <option value="+20 ans">plus de 20 ans</option>
          </select>
          <label>Experience</label>
        </div>


        <div class="form-floating col-md-4">
          <input placeholder="Yaoundé, Cameroun" class="form-control" formControlName="address" type="text" >
          <label>Address</label>
        </div>


        <div class="col-md-4 form-floating">
          <select class="form-select" formControlName = "contract"  >
            <option selected disabled value="">Choisir une option</option>
            <option value="CDI">CDI</option>
            <option value="CDD">CDD</option>
            <option value="FREELANCE">Freelance</option>
            <option value="INTERIM">Intérim</option>
            <option value="ASSOCIE">Associé(e)</option>
            <option value="ALTERNANCE">Alternance</option>
            <option value="FRANCHISE">Franchise</option>
            <option value="STAGE ACADEMIC">Stage academic</option>
            <option value="STAGE PROFESSIONNELLE">Stage professionnelle</option>
            <option value="TOUT">Tout</option>
          </select>
          <label >Contract</label>
        </div>


        <div class="col-md-4 form-floating">
          <input formControlName="salary" type="number" class="form-control" min="30000" max="1000000" step="10000" >
          <label class="form-label">Salaire</label>
        </div>

        <div class="col-md-4 form-floating">
          <input formControlName = "startDate" type="date" class="form-control "  >
          <label class="form-label">Date de début</label>
        </div>

        <div class="col-md-4 form-floating">
          <input formControlName = "endDate" type="date" class="form-control "  >
          <label class="form-label">Date de fin</label>
        </div>

        <div class="text-center col-12 row mt-3 mb-3">

          <div class=" col-md-4 mb-3">
            <button  class="btn btn-outline-primary " type="submit" style="width: 100px">Filtrer</button>
          </div>

          <div class=" col-md-4">
            <button (click)="handleResetOfferFormGroup()" class="btn btn-outline-danger"  type="button">Réinitialiser</button>
          </div>

        </div>


      </form>


    </div>
  </div>


  <div class="container px-4 py-5" id="offers">
    <h2 class="pb-2 border-bottom">Les offres  &nbsp; [ {{totalElements}} ]  <button type="button" (click)="openNewOfferModal()" class="btn btn-success position-relative"  >Publier une offre</button> </h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col" *ngFor="let offer of offers| paginate: { itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalElements }">
        <div class="card border-success mb-3" style="max-width: 18rem;">
          <div class="card-header bg-transparent border-success">

            <div class="dropdown">
              <a href="javascript:void (0);" class="d-flex align-items-center text-decoration-none text-secondary" data-bs-toggle="dropdown" aria-expanded="false">

                <h4>Particulier</h4>
<!--                <h4 > Compte : {{user.account === 'employer'?'Particulier': user.account === 'enterprise'?'Entreprise':'Talent'}}</h4>&nbsp;-->
                <strong ><i class="bi bi-three-dots-vertical"></i></strong>
              </a>
              <ul class="dropdown-menu  text-small shadow">
                <li><a class="dropdown-item" (click)="handleDetailOffer(offer.id!)" href="javascript:void (0);"> <i class="bi bi-eye text-info"></i> Consulter</a></li>
                <li><a class="dropdown-item" href="javascript:void (0);"> <i class="bi bi-exclamation-triangle text-warning"></i> Signaler</a></li>

                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" (click)="handleEnableOffer(offer)" href="javascript:void (0);">  <i class="bi bi-arrow-up"></i> Activer</a></li>
                <li><a class="dropdown-item" (click)="handleDisableOffer(offer)" href="javascript:void (0);">  <i class="bi bi-arrow-down"></i>  Désactiver</a></li>
                <li><a class="dropdown-item" (click)="openUpdateOfferModal(offer)" href="javascript:void (0);"> <i class="bi bi-pencil text-primary"></i> Modifier</a></li>
                <li><a class="dropdown-item" (click)="handleDeleteOffer(offer)" href="javascript:void (0);">  <i class="bi bi-trash text-danger"></i> Supprimer</a></li>


              </ul>
            </div>


          </div>
          <div class="card-body text-success">
            <h5 class="card-title text-warning fw-bold">{{offer.title}}</h5>

            <span >Auteur : [ {{offer.type}} ]</span><br>

            <span class="fs-2" ><i class="bi bi-book-fill">&nbsp;</i>{{offer.contract}}</span> &nbsp;&nbsp;

            <span class="fs-2"><i class="{{offer.workMode === 'A distance'?'bi bi-wifi': 'bi bi-house-fill'}}"></i> {{offer.workMode}} </span><br />

            <span *ngIf="offer.salary" class="text-danger fs-2"> {{offer.salary? (offer.salary | number: '1.0-0') +'FCFA' : 'Salaire à définir avec l\'employeur'}} </span><br />

            <span ><i class="bi bi-calendar"></i>&nbsp;<span>{{offer.publishedAt | date : 'd MMM y'}}</span></span>&nbsp;-- <span ><i class="bi bi-lock-fill"></i> <span>{{offer.endOffer | date : 'd MMM y'}}</span></span>

          </div>
          <div class="card-footer bg-transparent border-success">
            <ul class="d-flex list-unstyled mt-auto">
              <!--              <li class="me-auto">
                              <img src="assets/icons/bozahouse.svg" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                            </li>-->
              <li class="d-flex align-items-center me-3">
                <i class="bi bi-geo-alt-fill me-2 "></i>
                <small>{{offer.address}}</small>
              </li>
              <li class="d-flex align-items-center">
                <i class="bi me-2 bi-calendar-check"></i>
                <small>{{offer.endOffer | date: 'd MMMM y HH:mm:ss'}}</small>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>

    <div class="d-flex justify-content-center">
      <pagination-controls (pageChange)="goToPage($event)"></pagination-controls>
    </div>
  </div>


</main>

<!-- Modal newOffer or updateOffer -->
<div class="modal fade " id="newOffer" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true" data-controls-modal="newOffer" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel1">{{offerId?'Modifier':'Ajouter'}} une offre d'emploi</h1>
        <button (click)="closeOfferModal()"  type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="color: #333;"></button>

      </div>
      <div class="modal-body">
        <div class="container ">

<!--              <h5 class="text-center  spacer">Entrez les informations de votre offre</h5>-->

              <form [formGroup] = "newOfferFormGroup" (ngSubmit)="handleSaveOrUpdateOffer()"  class="row g-3">

                <div class="col-md-6 form-floating">
                  <input  formControlName = "title" type="text" class="form-control {{r['title'].errors && r['title'].touched?'is-invalid':'is-valid'}}" required>
                  <label class="form-label">Intitulé du poste</label>
                  <div class="{{ (r['title'].errors && r['title'].touched)?'invalid-feedback':'valid-feedback'}}">
                    <small *ngIf="r['title'].errors && r['title'].touched" class="text-danger">{{handleGetErrorMessageFromChild('title', r['title'].errors)}}</small>
                  </div>
                </div>

                <div class="col-md-6 form-floating">
                  <input formControlName = "domain" type="text" class="form-control {{r['domain'].errors && r['domain'].touched?'is-invalid':'is-valid'}}"  value="Mark" required>
                  <label class="form-label">Domaine</label>
                  <div class="{{r['domain'].errors && r['domain'].touched?'invalid-feedback':'valid-feedback'}}">
                    <small *ngIf="r['domain'].errors && r['domain'].touched" class="text-danger">{{handleGetErrorMessageFromChild('domain', r['domain'].errors)}}</small>
                  </div>
                </div>

                <div class="col-md-6 form-floating">
                  <input  formControlName = "needPeople" type="number" min="1" step="1" class="form-control {{r['needPeople'].errors && r['needPeople'].touched?'is-invalid':'is-valid'}}" required>
                  <label class="form-label"> Nombre de poste</label>
                  <div class="{{ (r['needPeople'].errors && r['needPeople'].touched)?'invalid-feedback':'valid-feedback'}}">
                    <small *ngIf="r['needPeople'].errors && r['needPeople'].touched" class="text-danger">{{handleGetErrorMessageFromChild('needPeople', r['needPeople'].errors)}}</small>
                  </div>
                </div>

                <div class="col-md-6 form-floating">
                  <select class="form-select {{(r['experience'].errors && r['experience'].touched)?'is-invalid':'is-valid'}} " formControlName = "experience"   required>
                    <option selected disabled value="">Choisir une option</option>
                    <option value="Premier emploi">Premier emploi</option>
                    <option value="1-2 ans">1-2 ans</option>
                    <option value="3-5 ans">3-5 ans</option>
                    <option value="6-10 ans">6-10 ans</option>
                    <option value="11-20 ans">11-20 ans</option>
                    <option value="+20 ans">plus de 20 ans</option>
                  </select>
                  <label>Experience</label>
                  <div class="{{(r['experience'].errors && r['experience'].touched)?'invalid-feedback':'valid-feedback'}}">
                    <small *ngIf="r['experience'].errors && r['experience'].touched" class="text-danger">{{handleGetErrorMessageFromChild('experience', r['experience'].errors)}}</small>
                  </div>
                </div>

                <div class="form-floating col-md-12">
                  <textarea id="mission"  class="form-control h-100 mission {{(r['mission'].errors && r['mission'].touched)?'is-invalid':'is-valid'}}" formControlName="mission" type="text" ></textarea>
                  <label>Mission du poste</label>
                  <div class="{{(r['mission'].errors && r['mission'].touched)?'invalid-feedback':'valid-feedback'}}">
                    <small *ngIf="r['mission'].errors && r['mission'].touched" class="text-danger">{{handleGetErrorMessageFromChild('mission', r['mission'].errors)}}</small>
                  </div>
                </div>

                <div class="form-floating col-md-12">
                  <textarea id="profile"  class="form-control h-100 profile {{(r['profile'].errors && r['profile'].touched)?'is-invalid':'is-valid'}}" formControlName="profile" type="text" ></textarea>
                  <label>Profil recherché</label>
                  <div class="{{(r['profile'].errors && r['profile'].touched)?'invalid-feedback':'valid-feedback'}}">
                    <small *ngIf="r['profile'].errors && r['profile'].touched" class="text-danger">{{handleGetErrorMessageFromChild('profile', r['profile'].errors)}}</small>
                  </div>
                </div>

                <div class="form-floating col-md-6">
                  <textarea placeholder="séparez les compétences par une virgule. example : java, angular, css" aria-label="with textarea" class="form-control {{(r['skills'].errors && r['skills'].touched)?'is-invalid':'is-valid'}}" formControlName="skills" type="text" ></textarea>
                  <label> Compétences réquise</label>
                  <div class="{{(r['skills'].errors && r['skills'].touched)?'invalid-feedback':'valid-feedback'}}">
                    <small *ngIf="r['skills'].errors && r['skills'].touched" class="text-danger">{{handleGetErrorMessageFromChild('skills', r['skills'].errors)}}</small>
                  </div>
                </div>

                <div class="col-md-6 form-floating">
                  <select class="form-select  {{(r['contract'].errors && r['contract'].touched)?'is-invalid':'is-valid'}} " formControlName = "contract"   required>
                    <option selected disabled value="">Choisir une option</option>
                    <option value="CDI">CDI</option>
                    <option value="CDD">CDD</option>
                    <option value="FREELANCE">Freelance</option>
                    <option value="INTERIM">Intérim</option>
                    <option value="ASSOCIE">Associé(e)</option>
                    <option value="ALTERNANCE">Alternance</option>
                    <option value="FRANCHISE">Franchise</option>
                    <option value="STAGE ACADEMIC">Stage academic</option>
                    <option value="STAGE PROFESSIONNELLE">Stage professionnelle</option>
                    <option value="TOUT">Tout</option>
                  </select>
                  <label >Contract</label>
                  <div class="{{(r['contract'].errors && r['contract'].touched)?'invalid-feedback':'valid-feedback'}}">
                    <small *ngIf="r['contract'].errors && r['contract'].touched" class="text-danger">{{handleGetErrorMessageFromChild('contract', r['contract'].errors)}}</small>
                  </div>
                </div>

                <div class="form-floating col-md-12">
                  <textarea  class="form-control h-100" formControlName="candidatureInstruction" type="text" ></textarea>
                  <label> Instructions de candidature</label>
                </div>


                <div class="col-md-6 form-floating">
                  <select class="form-select {{(r['workMode'].errors && r['workMode'].touched)?'is-invalid':'is-valid'}} " formControlName = "workMode"   required>
                    <option selected disabled value="">Choisir une option</option>
                    <option value="Sur site">Sur site</option>
                    <option value="A distance">A distance</option>
                    <option value="Hybride">Hybride</option>
                  </select>
                  <label>Mode de travail</label>
                  <div class="{{(r['workMode'].errors && r['workMode'].touched)?'invalid-feedback':'valid-feedback'}}">
                    <small *ngIf="r['workMode'].errors && r['workMode'].touched" class="text-danger">{{handleGetErrorMessageFromChild('workMode', r['workMode'].errors)}}</small>
                  </div>
                </div>


                <div class="col-md-6 form-floating">
                  <input formControlName = "tel" type="tel" class="form-control {{ (r['tel'].errors && r['tel'].touched)?'is-invalid':'is-valid'}}"   required>
                  <label  class="form-label">Téléphone</label>
                  <div class="{{r['tel'].errors && r['tel'].touched?'invalid-feedback':'valid-feedback'}}">
                    <small *ngIf="r['tel'].errors && r['tel'].touched" class="text-danger">{{handleGetErrorMessageFromChild('tel', r['tel'].errors)}}</small>
                  </div>
                </div>

                <div class="col-md-6 form-floating">
                  <input  formControlName = "email" type="email" class="form-control {{r['email'].errors && r['email'].touched?'is-invalid':'is-valid'}}" required>
                  <label class="form-label">Email</label>
                  <div class="{{r['email'].errors && r['email'].touched?'invalid-feedback':'valid-feedback'}}">
                    <small *ngIf="r['email'].errors && r['email'].touched" class="text-danger">{{handleGetErrorMessageFromChild('email', r['email'].errors)}}</small>
                  </div>
                </div>

                <div class="form-floating col-md-6">
                  <input placeholder="Yaoundé, Cameroun" class="form-control {{(r['address'].errors && r['address'].touched)?'is-invalid':'is-valid'}}" formControlName="address" type="text" >
                  <label>Address</label>
                  <div class="{{(r['address'].errors && r['address'].touched)?'invalid-feedback':'valid-feedback'}}">
                    <small *ngIf="r['address'].errors && r['address'].touched" class="text-danger">{{handleGetErrorMessageFromChild('address', r['address'].errors)}}</small>
                  </div>
                </div>


                <div class="form-floating col-md-6">
                  <input type="text"   formControlName = "salary" placeholder="Entrez un montant ( optionelle )"  class="form-control {{(r['salary'].errors && r['salary'].touched)?'is-invalid':'is-valid'}}" >
                  <label >Salaire</label>
                  <div >
                    <small class="text-secondary">optionnel</small>
                  </div>
                </div>

                <div class="col-md-6 form-floating">
                  <input formControlName = "endOffer" type="date" class="form-control {{r['endOffer'].errors && r['endOffer'].touched?'is-invalid':'is-valid'}}"  required>
                  <label class="form-label">Date d'expiration</label>
                  <div class="{{r['endOffer'].errors && r['endOffer'].touched?'invalid-feedback':'valid-feedback'}}">
                    <small *ngIf="r['endOffer'].errors && r['endOffer'].touched" class="text-danger">{{handleGetErrorMessageFromChild('endOffer', r['endOffer'].errors)}}</small>
                  </div>
                </div>


                <div class="form-floating col-12">
                  <input (change)="getFile($event)" type="file" class="form-control" accept=".pdf">
                  <label>Ajouter un fichier </label>
                  <div >
                    <small class="text-secondary">joindre un fichier au format pdf (optionnel)</small>
                  </div>
                </div>


                <div class="text-center col-12">
                  <button [disabled] = "!newOfferFormGroup.valid " class="btn btn-primary w-30 mb-xxl-2 mt-lg-1" type="submit">
                    {{offerId?'Modifier':'Envoyer'}}</button>
                </div>

              </form>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>





<div class="text-end mb-3 spacer-right">
  <span><a routerLink="/addTestimony" class="hide-underline-link btn btn-dark text-warning">Rédiger un avis</a> </span>

</div>




