<html class="bg-secondary">
<body class="bg-secondary">
<app-navbar></app-navbar>

<div class="container spacer  ">
  <div class="text-center">
    <!-- sidebar left -->
    <button  type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><i class="bi bi-search"></i>rechercher </button>

    <div class="offcanvas offcanvas-start col-md-4 bg-dark" style="background-color: ghostwhite" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title text-light" id="offcanvasWithBothOptionsLabel">Filter les offres</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">

        <div class="card bg-dark" style="font-size: 15px;">
<!--          <h5 class="card-header text-warning"><i class="bi bi-search"></i>Rechercher </h5>-->
          <div class="card-body bg-dark" >

            <form class="text-light" [formGroup] = "offerFormGroup" (ngSubmit)="handleSearchOffers()" >

              <div class="mb-3 mt-2">
                <label class="form-label">Métier </label>
                <input type="text" class="form-control" formControlName = "title" placeholder="Infimier">
              </div>


              <div class="mb-3 mt-2">
                <label class="form-label">Contract </label>
                <select class="form-select" formControlName = "contract" >
                  <option value="" disabled selected>Contract</option>
                  <option value="CDI">CDI</option>
                  <option value="CDD">CDD</option>
                  <option value="FREELANCE">Freelance</option>
                  <option value="INTERIM">Intérim</option>
                  <option value="ASSOCIE">Associé(e)</option>
                  <option value="ALTERNANCE">Alternance</option>
                  <option value="FRANCHISE">Franchise</option>
                  <option value="STAGE ACADEMIC">Stage academic</option>
                  <option value="STAGE PROFESSIONNELLE">Stage professionnelle</option>
                </select>
              </div>


              <div class="mb-3 mt-2">
                <label class="form-label">Mode de travail </label>
                <select class="form-select" formControlName = "workMode">
                  <option value="" disabled selected >Mode de travail</option>
                  <option value="Sur site">Sur site</option>
                  <option value="A distance">A distance</option>
                </select>
              </div>

              <div class="mb-3 mt-2">
                <label class="form-label">Adress </label>
                <input type="text" class="form-control" formControlName = "address" placeholder="Simbok,Yaoundé,Cameroun" >
              </div>

              <!--              <div class="mb-3 mt-2">
                              <input type="text" class="form-control" formControlName = "countryName"  placeholder="Pays, ex: Cameroun">
                            </div>


                            <div class="mb-3 mt-2">
                              <input type="text" class="form-control" formControlName = "cityName"  placeholder="Ville, ex: Bertoua">
                            </div>-->

              <!--

               <div class="mb-3">
                     <label class="form-label">Salaire</label>
                     <input type="text" class="form-control" formControlName = "salary" value="A définir avec l'employeur" required>
                   </div>
         -->

              <div class="mb-3 mt-2">
                <label class="form-label">Expérience </label>
                <select class="form-select" formControlName = "experience" >
                  <option value="" disabled selected>Experience</option>
                  <option value="Aucune">Aucune</option>
                  <option value="Jeune diplomé">Jeune diplomé</option>
                  <option value="1-2 ans">1-2 ans</option>
                  <option value="3-5 ans">3-5 ans</option>
                  <option value="6-10 ans">6-10 ans</option>
                  <option value="11-20 ans">11-20 ans</option>
                  <option value="+20 ans">plus de 20 ans</option>
                </select>
              </div>


              <div class="mb-3">
                <label class="form-label">Type d'employeur</label>
                <select class="form-select" formControlName = "type" >
                  <option value=""  selected disabled>Type d'employeur</option>
                  <option value="particular">Particulier</option>
                  <option value="enterprise">Entreprise</option>
                </select>
              </div>

              <div class="mb-3 mt-2">
                <label class="form-label">Domaine </label>
                <input type="text" class="form-control" formControlName = "domain"  placeholder="Informatique">
              </div>

<!--
              <div class="mb-3 mt-2">
                <label class="form-label">Date de début</label>
                <input type="date" class="form-control" formControlName = "startDate" >
                <small *ngIf="offerFormGroup.controls['startDate'].errors && offerFormGroup.controls['startDate'].touched" class="text-danger">{{getErrorMessage('startDate', offerFormGroup.controls['startDate'].errors)}}</small>

              </div>

              <div class="mb-3 mt-2 mb-2">
                <label class="form-label">Date de fin</label>
                <input type="date" class="form-control" formControlName = "endDate" >
                <small *ngIf="offerFormGroup.controls['endDate'].errors && offerFormGroup.controls['endDate'].touched" class="text-danger">{{getErrorMessage('endDate', offerFormGroup.controls['endDate'].errors)}}</small>

              </div>

              <div class="mb-3">
                <label for="disabledRange" class="form-label">Salaire</label>
                <input type="range" class="form-range" min="30000" max="1000000" step="0.25" id="disabledRange">
              </div>-->

              <div class="text-center">
                <button *ngIf="!resultDatesCompare"  class="btn btn-outline-light" type="submit">rechercher&nbsp;<i class="bi bi-search"></i> </button>&nbsp;&nbsp;&nbsp;
                <span class="btn btn-outline-danger" (click)="handleSetOfferFormGroup()">reset</span>
              </div>

            </form>

          </div>
        </div>



        <!--
                <ul class="list-unstyled ps-0">
                  <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                      Home
                    </button>
                    <div class="collapse show" id="home-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-dark rounded">Overview</a></li>
                        <li><a href="#" class="link-dark rounded">Updates</a></li>
                        <li><a href="#" class="link-dark rounded">Reports</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                      Dashboard
                    </button>
                    <div class="collapse" id="dashboard-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-dark rounded">Overview</a></li>
                        <li><a href="#" class="link-dark rounded">Weekly</a></li>
                        <li><a href="#" class="link-dark rounded">Monthly</a></li>
                        <li><a href="#" class="link-dark rounded">Annually</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                      Orders
                    </button>
                    <div class="collapse" id="orders-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-dark rounded">New</a></li>
                        <li><a href="#" class="link-dark rounded">Processed</a></li>
                        <li><a href="#" class="link-dark rounded">Shipped</a></li>
                        <li><a href="#" class="link-dark rounded">Returned</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="border-top my-3"></li>
                  <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                      Account
                    </button>
                    <div class="collapse" id="account-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-dark rounded">New...</a></li>
                        <li><a href="#" class="link-dark rounded">Profile</a></li>
                        <li><a href="#" class="link-dark rounded">Settings</a></li>
                        <li><a href="#" class="link-dark rounded">Sign out</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
                <ul class="list-unstyled ps-0">
                  <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                      Home
                    </button>
                    <div class="collapse show" id="home-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-dark rounded">Overview</a></li>
                        <li><a href="#" class="link-dark rounded">Updates</a></li>
                        <li><a href="#" class="link-dark rounded">Reports</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                      Dashboard
                    </button>
                    <div class="collapse" id="dashboard-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-dark rounded">Overview</a></li>
                        <li><a href="#" class="link-dark rounded">Weekly</a></li>
                        <li><a href="#" class="link-dark rounded">Monthly</a></li>
                        <li><a href="#" class="link-dark rounded">Annually</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                      Orders
                    </button>
                    <div class="collapse" id="orders-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-dark rounded">New</a></li>
                        <li><a href="#" class="link-dark rounded">Processed</a></li>
                        <li><a href="#" class="link-dark rounded">Shipped</a></li>
                        <li><a href="#" class="link-dark rounded">Returned</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="border-top my-3"></li>
                  <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                      Account
                    </button>
                    <div class="collapse" id="account-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-dark rounded">New...</a></li>
                        <li><a href="#" class="link-dark rounded">Profile</a></li>
                        <li><a href="#" class="link-dark rounded">Settings</a></li>
                        <li><a href="#" class="link-dark rounded">Sign out</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>-->
      </div>
    </div> &nbsp;&nbsp;&nbsp;&nbsp;

    <ng-container *ngIf="currentUser.account == 'employer' && currentUser.activatedHostSubscription
      || currentUser.account == 'enterprise' && currentUser.activatedHostSubscription || isAdmin">
      <span style="font-size: 20px;">
      <a routerLink="/addOffer" class="hide-underline-link btn btn-dark text-warning">
      <i class="bi bi-plus "></i> publier une offre
      </a>
    </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </ng-container>



    <!-- sidebar right -->
    <!--
        <button type="button" data-bs-toggle = "offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">offres personnalisées </button>
        <div class="offcanvas offcanvas-end col-md-4" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
          <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel">Effectuez un filtre</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <div class="card">
              <h5 class="card-header">Filtré par : </h5>
              <div class="card-body">





              </div>
            </div>
          </div>
        </div>
    -->

  </div><br>
  <div class="card bg-secondary border-0">

    <h5 class="text-center mt-2"><i class="bi bi-dash text-success w-100" ></i><i class="bi bi-dash text-success w-100" ></i><i class="bi bi-dash text-success w-100" ></i> <i class="bi bi-dash text-success w-100" ></i>&nbsp;Vos derniers jobs &nbsp;<i class="bi bi-dash text-success w-100" ></i><i class="bi bi-dash text-success w-100" ></i><i class="bi bi-dash text-success w-100" ></i><i class="bi bi-dash text-success w-100" ></i></h5>

    <div class="row">

<ng-container>
  <ng-container *ngIf="offers | async as listOffer; else failureOrLoading">
    <div  *ngFor="let offer of offers | async"  class="col-md-4 ">
      <div class="card  spacer-margin bg-dark">

        <div *ngIf="isAdmin" class="card-header">


          <a (click)="handleEnableOffer(offer)" class="btn btn-secondary">
            E
          </a>&nbsp;&nbsp;&nbsp;&nbsp;

          <a (click)="handleDisableOffer(offer)" class="btn btn-secondary">
            D
          </a>&nbsp;&nbsp;&nbsp;&nbsp;

          <a (click)="handleUpdateOffer(offer.id)" class="btn btn-warning">
            <i class="bi bi-pencil"></i>
          </a> &nbsp;&nbsp;&nbsp;&nbsp;

          <a (click)="handleDeleteOffer(offer)" class="btn btn-danger">
            <i class="bi bi-trash"></i>
          </a>

        </div>
        <div class="card-body text-center" >
          <span class="text-warning" style="font-size: 35px;">{{offer.title}}</span><br>
          <span class="text-muted" *ngIf="offer.type=='particular' else ent">Auteur : [ Particulier ]</span><br>
          <ng-template #ent>
            <span class="text-muted">Auteur : [ Entreprise ]</span>
          </ng-template>
          <span class="text-muted" style=" font-size: 15px"><i class="bi bi-geo-alt-fill" style="font-size: 20px;"></i> {{offer.address}}</span><br />
          <span class="text-muted" style="font-size: 15px"><i class="bi bi-book-fill">&nbsp;</i>{{offer.contract}}</span> &nbsp;&nbsp; <span class="text-muted" style="font-size: 15px" ><i class="bi bi-wifi"></i> {{offer.workMode}} </span><br />


          <span *ngIf="offer.salary == ''; else other">
        <span style="color: #bb2d3b; font-size: 20px"> Salaire à définir avec l'employeur </span><br />
      </span>

          <ng-template #other>
            <span style="color: #bb2d3b; font-size: 20px"> {{offer.salary | number: '1.0-0'}} FCFA</span><br />
          </ng-template>


          <div class="text-muted">
            <span ><i class="bi bi-calendar"></i>&nbsp;<span>{{offer.publishedAt | date : 'd MMM y'}}</span></span>&nbsp;-- <span ><i class="bi bi-lock-fill"></i> <span>{{offer.endOffer | date : 'd MMM y'}}</span></span>
          </div><br>

          <ng-container>
            <ng-container *ngIf="currentUser.account == 'employer' && currentUser.activatedHostSubscription
        || currentUser.account == 'enterprise' && currentUser.activatedHostSubscription
        || currentUser.account == 'talent' && currentUser.activatedNormalSubscription || isAdmin; else other2">
              <span><a (click)="handleDetailOffer(offer.id)" class="btn btn-warning rounded-pill">Voir l'offre</a></span><br>
            </ng-container>

            <ng-template #other2>
              <!--                <span class="text-muted"><a class="btn btn-success"><i class="bi bi-whatsapp"></i>&nbsp;Click here to subscribe </a></span><br>-->



              <span class="btn btn-danger" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">Voir l'offre</span>

              <div class="card offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
                <div class="offcanvas-header">
                  <h5 id="offcanvasTopLabel">Vous n'avez aucun abonnement de type normal</h5>
                  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  contactez l'un de ces commerciaux pour pouvoir créer un abonnement
                  pour voir les détails de cet offre, vous devez souscrire à un abonnement
                </div>
              </div>

            </ng-template>
          </ng-container>

        </div>
        <span class="text-muted card-footer btn" style=" font-size: 18px" (click)="shared()">partager &nbsp;<i class="bi bi-share-fill"></i></span>
      </div>
    </div>
  </ng-container>
  <ng-template #failureOrLoading>
    <ng-container *ngIf="errorMessageOffer; else Loading">
      <div class="text-warning text-center spacer-margin">
        <span>Oups ! pas de données pour le moment</span>
      </div>
    </ng-container>

    <ng-template #Loading>

      <div class="d-flex justify-content-center spacer-margin" >
        <div class=" spinner-border text-warning" style="width: 3rem; height: 3rem;" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </ng-template>

  </ng-template>
</ng-container>

    </div>

    <ul class=" nav nav-pills spacer-left spacer-bottom">
      <ng-container *ngIf="currentPage > 0">
        <li >
          <a class="page-link btn ms-1" (click)="goToPage(currentPage - 1)" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      </ng-container>

      <!-- "[A-Za-z0-9.%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{3,4}" -->

      <li *ngFor="let item of [].constructor(totalPages); let page = index" >
        <a [ngClass]="page==currentPage?'btn-warning':'btn-outline-warning'" (click)="goToPage(page)" class="btn ms-1"  >{{page}}</a>
      </li>
      <ng-container *ngIf="currentPage < totalPages - 1">
        <li >
          <a class="page-link btn ms-1" (click)="goToPage(currentPage + 1)" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ng-container>

    </ul>


  </div >


</div>


<div class="spacer"></div>

<app-footer>

</app-footer>
</body>
</html>

<!--<html class="bg-secondary">
<body class="bg-secondary">

</body>
</html>-->


